@charset "utf-8";

@import "../../common/base/variable";
@import "../../common/base/sprite";
@import "../../common/base/mixin";

/* ==========================================================
 magazine
========================================================== */


/* ----------------------------------------------------------
 hero-cmn-category
---------------------------------------------------------- */
.hero-cmn-category {
  .image {
    min-height: 305px;
    background-image: url(/img/magazine/img_category_hero_sp.jpg);
    @include mq-pc() {
      min-height: 500px;
      background-image: url(/img/magazine/img_category_hero_pc.jpg);
    }
  }
}

/* ----------------------------------------------------------
 hero-cmn-magazine
---------------------------------------------------------- */
.hero-magazine {
  .image {
    min-height: 290px;
    background-image: url(/img/magazine/img_magazine_hero_01_sp.jpg);
    @include mq-pc() {
      min-height: 400px;
      background-image: url(/img/magazine/img_magazine_hero_01_pc.jpg);
    }
  }
}

/* ----------------------------------------------------------
 hero-logo-box-magazine
---------------------------------------------------------- */
.hero-logo-box-magazine {
  @include mq-sp() {
    width: auto;
  }
  .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    @include mq-pc() {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .text {
    @include mq-sp() {
      font-size: 10px;
    }
  }

  .image-logo {
    width: 174px;
    margin-top: 70px;
    @include mq-pc() {
      width: 348px;
      margin-top: 70px;
      margin-bottom: 20px;
    }
  }
}

/* ----------------------------------------------------------
 hero-cmn-category
---------------------------------------------------------- */
.hero-cmn-category {
  .image {
    min-height: 305px;
    background-image: url(/img/magazine/img_category_hero_sp.jpg);
    @include mq-pc() {
      min-height: 500px;
      background-image: url(/img/magazine/img_category_hero_pc.jpg);
    }
  }
}

/* ----------------------------------------------------------
 mod-information-magazine-top
---------------------------------------------------------- */
.mod-information-magazine-top {
  @include mq-pc() {
    padding-bottom: 50px;
  }

  .mod-information-title {
    @include mq-pc() {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
}

/* ----------------------------------------------------------
 mod-content-magazine
---------------------------------------------------------- */
.mod-content-magazine {
  margin-top: 0;
  .mod-category {
    border-top: none;
  }
}
/* ----------------------------------------------------------
 Fixed
---------------------------------------------------------- */
@include  mq-sp {
  .list-grid-col-3 {
    img {
      width: 100%;
    }
  }
}
.pagenation-primary .ico-arrow-right-primary {
  @include  mq-sp {
    margin-right: 5px !important;
  }
}/* ----------------------------------------------------------
 mod-profile-box
---------------------------------------------------------- */
.mod-profile-box {
  position: relative;
  max-width: 940px;
  padding: 32px 48px;
  margin-right: -20px;
  margin-left: -20px;
  background-color: #f8f8f8;
  @include mq-pc {
    max-width: 820px;
    padding: 75px 100px;
    margin-top: 72px;
  }
  .box {
    overflow: hidden;
    .image {
      @include mq-pc{
        float: right;
        width: 160px;
        height: 160px;
        margin-top: 5px;
      }
    }
    .detail {
      @include mq-pc {
        width: 60%;
      }
      .box-url {
        margin-top: 22px;
      }
      .ttl-profile {
        font-size: 1.3rem;
        margin-top: 25px;
        margin-bottom: 22px;
        @include mq-pc {
          margin-top: 0;
          font-size: 1.6rem;
        }
      }
      .txt-profile {
        @include mq-pc {
          font-size: 1.4rem;
        }
      }
      .link-profile {
        color: #11a14f;
        text-decoration: none;
        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }

  }
}