@charset "utf-8";

@import "../../common/base/variable";
@import "../../common/base/sprite";
@import "../../common/base/mixin";

/* ==========================================================
 brand
========================================================== */

/* ----------------------------------------------------------
 module
---------------------------------------------------------- */

.mod-search-line-up {
  background-color: #f4fbf7;
  @include  mq-pc {
    background-color: #fafafa;
    padding: 0;
  }
}
.mod-search-line-up a {
  display: block;
  margin: 0 auto;
  width: 177px;
  @include  mq-pc {
    margin: 0 0 0 auto;
    width: 240px;
    padding: 29px 0 29px 0;
    background-color: #f4fbf7;
  }
  picture {
    display: block;
    width: 161px;
    height: 22px;
    vertical-align: text-top;
    @include  mq-pc {
      width: 100%;
      text-align: center;
    }
  }
}
