# ignorefiles

#folder
node_modules/
#gulp build files


#ignore files build by phpStorm
.idea/

#ignore files build by gulp
.dest/

#file
.DS_Store
#.gitignor.htaccess
#.csscomb.setting
#gulpfile.js
#package.json
#.editorconfig

#diff
difference/
