<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">
  <link href="/common/css/common.css" rel="stylesheet">
  <title>web font test</title>
</head>
<body>
<h1 class="web-font-test">test</h1>

</body>
</html>