@import "../../../common/base/variable";
@import "../../../common/base/sprite";
@import "../../../common/base/mixin";

/* ==========================================================
 am6
========================================================== */

/* ----------------------------------------------------------
  ttl-logo
---------------------------------------------------------- */
.ttl-logo.ttl-logo-about {
  @include mq-sp() {
    width: 79px;
  }
}

.ttl-logo.ttl-logo-line-up {
  @include mq-sp() {
    width: 79px;
  }
}

.ttl-logo.ttl-logo-story {
  @include mq-sp() {
    width: 89px;
  }
}

.ttl-logo.ttl-logo-interview {
  @include mq-sp() {
    width: 128px;
  }
}

/* ----------------------------------------------------------
  mod-content-about
---------------------------------------------------------- */
.mod-content.mod-content-about {
  @include mq-pc() {
    margin-bottom: 65px;
    background: none;
  }
}

/* ----------------------------------------------------------
  mod-content-interview
---------------------------------------------------------- */
.mod-content.mod-content-interview {
  .ttl-sub-interview {
    font-size: 14px;
    font-weight: bold;
    margin: -15px 0 30px;
    @include mq-pc {
      font-size: 16px;
      margin: -15px 0 40px;
    }
  }
  .box-interview {
    @include mq-pc {
      margin-bottom: -40px;
    }
    .item {
      @include mq-pc {
        width: 49%;
        display: inline-block;
        margin: 0 0 40px;
        &:nth-child(odd) {
          padding: 0 25px 0 5px;
        }
        &:nth-child(even) {
          padding: 0 5px 0 25px;
        }
      }
      > a {
        display: block;
      }
    }
  }
}
/* ----------------------------------------------------------
  .mod-content-about-image
---------------------------------------------------------- */
.mod-content-about-image {
  width: 166px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  @include mq-pc() {
    width: auto;
    padding-top: 25px;
  }
}

/* ----------------------------------------------------------
  .mod-content-style-am6
---------------------------------------------------------- */
.mod-content.mod-content-story-am6 {
  background: none;
  @include mq-pc() {
    margin-bottom: 125px;
  }
  .image {
    margin: 35px -20px;
    @include mq-pc() {
      margin: 35px 0 0;
    }
  }
  .txt-cmn {
    font-weight: bold;
  }
}

/* ----------------------------------------------------------
  mod-content-story
---------------------------------------------------------- */
.mod-content.mod-content-line-up {
  @include mq-pc() {
    margin-bottom: 30px;
  }
}

.mod-content .mod-content-story-box {
  @include mq-pc() {
    position: relative;
    display: flex;
    margin-top: -25px;
  }
  .item {
    flex: 1;
    margin-bottom: 35px;
    text-align: left;
    @include mq-pc() {
      padding-right: 40px;
      padding-left: 40px;
      margin-bottom: 0;
    }
  }

  .item-logo {
    margin-bottom: 10px;
    @include mq-pc() {
      margin-bottom: 20px;
    }
  }

  .item-logo-01 {
    @include mq-sp() {
      width: 155px;
    }
  }
  .item-logo-02 {
    @include mq-sp() {
      width: 57px;
    }
  }

  .item-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
    @include mq-pc() {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .item-text {
    font-size: 12px;
    @include mq-pc() {
      font-size: 14px;
    }
  }
}

/* ----------------------------------------------------------
  mod-content-interview
---------------------------------------------------------- */
.mod-content:last-of-type {
  @include mq-pc() {
    margin-bottom: 90px;
  }
}
