@charset "utf-8";

@import "../../../common/base/variable";
@import "../../../common/base/mixin";

/* ==========================================================
 california top
========================================================== */

/* ----------------------------------------------------------
 module
---------------------------------------------------------- */
.wrapper-city {
  .mod-point-beach {
    .text {
      font-weight: normal;
    }
  }
}

/* ==========================================================
 california interview
========================================================== */
.mod-interview {

  &-item {
    max-width: $width-contents-large;
    margin: 0 auto 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-item-inner {
    max-width: $width-contents;
    margin: 0 auto 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .image-logo {
    @include mq-pc() {
      position: relative;
      z-index: 1;
      display: block;
    }
  }

  .title {
    position: relative;
    z-index: 1;
    font-size: 15px;
    line-height: 2;
    @include mq-pc() {
      font-size: 28px;
    }
    .theme {
      background-color: #fff;
    }
  }
  
  .text-content {
    padding: 18px;
    background-color: #fff;
    @include mq-pc() {
      padding: 0;
    }
    &-item {
      margin-bottom: 23px;
      @include mq-pc() {
        padding: 35px 40px;
        margin-bottom: 0;
        font-size: 14px;
        + .text-content-item {
          padding-top: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  //mod-interview-item-headline

  .mod-interview-item-headline {
    margin-top: -50px;
    margin-left: 18px;
    .text {
      margin-bottom: 25px;
    }
  }
}

.theme-texture-secondary-01,
.theme-texture-secondary-02 {
  @include mq-sp() {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.theme-texture-secondary-01 {
  .ttl-interview-primary {
    margin-bottom: 0;
    padding-bottom: 30px;
    @include mq-pc() {
      padding-top: 60px;
      padding-bottom: 70px;
    }
  }
}

.theme-texture-secondary-02 {
  @include mq-sp() {
    padding-bottom: 40px;
  }
}

//mod-interview-item-01
.mod-interview-item-01 {
  text-align: center;
  @include mq-pc() {
    min-height: 814px;
    position: relative;
    text-align: left;
  }

  .mod-interview-title {
    @include mq-pc() {
      position: absolute;
      right: 0;
    }
  }

  .mod-interview-content {
    @include mq-pc() {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 30px;
      margin-left: 60px;
    }
  }

  .image-logo {
    display: none;
    @include mq-pc() {
      position: relative;
      top: -11px;
      z-index: 0;
      display: block;
      max-width: 152px;
      padding-top: 66px;
      padding-left: 30px;
      &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        content: '';
        width: 188%;
        height: 1px;
        margin-top: 33px;
        background-color: #000;
      }
    }
  }

  .image-text {
    width: 302px;
    margin: -8px auto 0;
    @include mq-pc() {
      width: 604px;
      padding: 10px;
      margin: 0;
      background-color: #fff;
    }
  }

  .ttl-cmn-01 {
    @include mq-sp() {
      margin-top: 15px;
    }

    @include mq-pc() {
      position: relative;
      display: inline;
      font-size: 30px;
      text-align: left;
      background-color: #fff;
      &::after {
        content: '\a';
        white-space: pre;
      }
    }
  }

  .text {
    margin-bottom: 15px;
    @include mq-pc() {
      display: inline;
      font-size: 14px;
      background-color: #fff;
    }
  }

  .link {
    .icon {
      position: relative;
      padding-left: 1.5em;
      @include mq-pc() {
        padding-left: 2em;
      }
      &::before {
        background-image: url(/common/img/ico_arrow_bottom_04_sp.png);
        background-repeat: no-repeat;
        width: 14px;
        height: 8px;
        background-size: contain;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        @include mq-pc() {
          background-image: url(/common/img/ico_arrow_bottom_04_pc.png);
          background-size: auto auto;
          width: 15px;
          height: 9px;
        }
      }
    }
    a {
      border-bottom: 1px solid;
      font-weight: bold;
      @include mq-pc() {
        font-size: 17px;
      }
    }
  }
}

.mod-interview-item-01 .breadcrumb {
  @include mq-sp() {
    position: absolute;
    top: 0;
    padding-left: 10px;
  }
}


//mod-interview-item-02
.mod-interview-item-02 {
  padding-top: 35px;
  padding-bottom: 25px;
  background: url(/img/brand/california/img_interview_02.jpg) no-repeat center center;
  background-size: cover;

  @include mq-pc() {
    padding-top: 150px;
    padding-bottom: 120px;
  }

  .title,
  .text {
    color: #fff;
  }

  .title {
    margin-bottom: 13px;
    text-align: center;
    font-size: 19px;
    line-height: 1.7;
    @include mq-pc() {
      margin-bottom: 35px;
      font-size: 35px;
      line-height: 2;
    }

    > span {
      border-bottom: 1px solid;
    }
  }

  .image-logo {
    width: 110px;
    margin-right: auto;
    margin-left: auto;
    @include mq-pc() {
      width: 248px;
    }
  }

  .item-box {
    max-width: 890px;
    padding-right: 30px;
    padding-left: 30px;
    @include mq-pc() {
      @include clearfix();
      padding-right: 0;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
    }

    .image-logo {
      width: 110px;
      @include mq-pc() {
        width: 248px;
        float: left;
        margin-left: 45px;
        margin-right: 45px;
      }
    }

    .text {
      font-size: 13px;
      margin-top: 15px;
      line-height: 1.7;
      @include mq-pc() {
        overflow: hidden;
        line-height: 2;
        font-size: 16px;
      }
    }
  }
}

//mod-interview-item-03
.mod-interview-item-03 {
  padding-right: 20px;
  padding-left: 20px;
  @include mq-pc() {
    padding-right: 0;
    padding-left: 0;
  }

  .title {
    top: -17px;
    padding-left: 12px;
    @include mq-pc() {
      position: absolute;
      top: 100%;
      left: 0;
      padding-left: 0;
      margin-top: -20px;
      margin-left: 10%;
    }
    @media screen and (min-width: 767px) and (max-width: 1200px) {
      font-size: 20px;
    }
  }

  .text {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    @include mq-pc() {
      font-size: 12px;
      margin-bottom: 35px;
    }
  }

  .image {
    margin-right: -10px;
    margin-left: -10px;
    @include mq-pc() {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .ttl-interview {
    padding: 0 10px 30px;
    margin: auto -10px 0;
    @include mq-pc() {
      padding-right: 0;
      padding-left: 0;
      margin: 40px 0 60px;
    }
  }

  .text-content {
    @include mq-pc() {
      position: absolute;
      top: 0;
      right: 0;
    }

    &.text-content-left {
      @include mq-pc() {
        max-width: 470px;
        padding-right: 35px;
        margin-top: 70px;
        margin-right: 52.5%;
      }
    }

    &.text-content-right {
      padding-bottom: 80px;
      top: 0;
      @include mq-pc() {
        z-index: 1;
        max-width: 400px;
        padding-bottom: 0;
        margin-top: 50%;
        margin-right: 14.5%;
      }
      @media screen and (min-width: 767px) and (max-width: 1200px) {
        margin-right: 9%;
      }
    }
  }

  //mod-interview-item-columns
  .mod-interview-item-columns {
    position: relative;
    @include mq-pc() {
      min-height: 1450px;
    }
    &-box {
      position: relative;
      padding-left: 36px;
      margin-right: -10px;
      @include mq-pc() {
        max-width: 55%;
        z-index: 1;
        padding-left: 0;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
//mod-interview-item-04
.mod-interview-item-04 {
  position: relative;

  .title {
    margin: -50px 0 35px 10px;
    &.title-primary {
      @include mq-pc() {
        margin-left: 16%;
        margin-top: -80px;
      }
      @media screen and (min-width: 767px) and (max-width: 1200px) {
        margin-left: 5%;
      }
    }
    &.title-secondary {
      @include mq-pc() {
        right: 0;
        margin-right: 7%;
      }
      @media screen and (min-width: 767px) and (max-width: 1200px) {
        margin-right: 0;
      }
    }
  }

  .image-main {
    margin: 0 -10px;
    @include mq-pc() {
      margin-left: 0;
      width: 59.5%;
    }
  }

  .mod-interview-item-headline {
    @include mq-pc() {
      position: absolute;
      top: 0;
      margin-top: 121px;
      margin-left: 11%;
    }
    .ttl-interview {
      background-color: transparent;
    }
  }

  .text-content {
    max-width: 470px;
    color: #fff;
    @include mq-pc() {
      position: absolute;
      width: 52.5%;
    }
    &.text-content-primary {
      padding-top: 23px;
      padding-bottom: 23px;
      @include mq-pc() {
        top: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 890px;
        margin-right: 16%;
      }
      @media screen and (min-width: 767px) and (max-width: 1200px) {
        margin-right: 0;
      }
    }
    &.text-content-secondary {
      margin-top: -20px;
      padding-top: 30px;
      padding-bottom: 30px;
      @include mq-pc() {
        bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 280px;
        margin-left: 14%;
        @media screen and (min-width: 767px) and (max-width: 1200px) {
          margin-bottom: 350px;
        }

        @media screen and (min-width: 767px) and (max-width: 1300px) {
          margin-left: 0;
        }
      }
    }
  }

}

//mod-interview-item-05
.mod-interview-item-05 {
  position: relative;
  padding-bottom: 50px;
  @include mq-pc() {
    margin-bottom: 170px;
  }
  .mod-interview-item-headline {
    @include mq-pc() {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 370px;
      margin-top: 160px;
      margin-right: 120px;
    }
  }
}

.mod-interview-item-06 {
  .title {
    &.title-primary {
      margin-top: -100px;
      margin-bottom: 40px;
      margin-left: 20px;
      @include mq-pc() {
        position: absolute;
        margin-top: -400px;
        margin-left: 16%;
      }
    }
    &.title-secondary {
      margin-top: -75px;
      margin-left: 15px;
    }
  }

  .image {
    @include mq-pc() {
      margin-bottom: 120px;
      background-color: #fff;
    }
  }

  .image-main {
    max-width: 329px;
    @include mq-pc() {
      max-width: 970px;
    }
    &.image-main-primary {
      margin-left: auto;
    }
    &.image-main-secondary {
      margin-right: auto;
      margin-left: -10px;
      @include mq-pc() {
        margin-left: 0;
      }
    }
  }

  .text-content-wrap {
    padding-right: 10px;
    padding-left: 10px;
    @include mq-pc() {
      position: relative;
      z-index: 1;
      display: flex;
      max-width: 1000px;
      margin: -123px auto 0;
    }
  }

  .text-content {
    @include mq-pc() {
      max-width: 500px;
      min-height: 1000px;
    }
    &.text-content-secondary {
      @include mq-pc() {
        margin-top: 225px;
      }
      .text-content-item {
        &:last-child {
          @include mq-pc() {
            position: absolute;
            bottom: 0;
            max-width: 423px;
            padding: 25px 25px 60px 25px;
            margin-bottom: 90px;
            margin-left: 5%;
            background-color: #fff;
          }
        }
      }
    }

    &-image {
      display: block;
      max-width: 165px;
      float: right;
      margin: 10px -28px 0 10px;
      @include mq-pc() {
        position: absolute;
        right: 0;
        float: none;
        max-width: 330px;
        margin: 140px -5% 0 0;
      }
      @media screen and (min-width: 767px) and (max-width: 1200px) {
        max-width: 300px;
      }
      @media screen and (min-width: 767px) and (max-width: 930px) {
        margin-top: 180px;
        max-width: 280px;
      }
    }

    .text-content-line {
      @include mq-pc() {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          top: -10px;
          left: 0;
          margin-left: -42px;
          width: 2px;
          height: 240%;
          background-color: #d3d2d2;
        }
      }
    }
  }

  //image-main-wrap
  .image-main-wrap {
    background-color: #fff;
    @include mq-pc() {
      position: absolute;
      bottom: -50px;
      left: -200px;
      margin-bottom: 165px;
      background-color: transparent;
    }

    @media screen and (min-width: 767px) and (max-width: 950px) {
      bottom: -100px;
    }

    @media screen and (min-width: 767px) and (max-width: 830px) {
      bottom: -150px;
    }

    .title {
      @include mq-pc() {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10% -41% 0 0;
      }
      @media screen and (min-width: 767px) and (max-width: 950px) {
        margin-top: 62%;
        right: auto;
        left: 220px;
        margin-right: 0;
      }
    }
  }
}

/* ----------------------------------------------------------
 mod-profile
---------------------------------------------------------- */
.mod-profile {
  margin:0 -10px 45px -10px;
  padding: 15px 18px;
  color: #fff;
  @include mq-pc() {
    padding-top: 70px;
    padding-bottom: 80px;
    margin-right: 0;
    margin-left: 0;
  }

  //mod-profile-inner
  &-inner {
    max-width: 820px;
    margin-right: auto;
    margin-left: auto;
    background: url(/common/img/border_top_01.png) no-repeat left top,
                url(/common/img/border_bottom_01.png) no-repeat left bottom;
    @include mq-pc() {
      display: flex;
    }
  }

  .btn-sns {
    @include mq-sp() {
      text-align: right;
    }
    max-width: 820px;
    margin: 25px auto 0;
  }

  //mod-profile-item-image
  &-item-image {
    padding-top: 23px;
    padding-bottom: 13px;
    @include mq-pc() {
      width: 230px;
      align-self: center;
      padding-top: 0;
      padding-bottom: 0;
    }
    .image {
      width: 66px;
      margin-right: auto;
      margin-left: auto;
      @include mq-pc() {
        width: 120px;
      }
    }
  }

  //mod-profile-item-person
  &-item-person {
    @include mq-pc() {
      width: 590px;
      padding-left: 40px;
      margin-top: 17px;
      margin-bottom: 17px;
      background: url(/common/img/border_left_01.png) no-repeat left center;
      background-size: contain;
    }
  }

  //mod-profile-item-inner
  &-item-inner {
    @include clearfix();
    padding-top: 25px;
    padding-bottom: 15px;
    background: url(/common/img/border_line_01.png) no-repeat left top;
    @include mq-pc() {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &:first-child {
      @include mq-pc() {
        background: none;
      }
    }

    &:last-child {
      padding-bottom: 25px;
      background: url(/common/img/border_line_01.png) no-repeat left top;
    }

    .image {
      width: 140px;
      float: left;
      margin-right: 15px;
      @include mq-pc() {
        width: 150px;
        margin-right: 40px;
      }
    }

    //detail content
    .detail {
      @include mq-pc() {
        overflow: hidden;
      }
      &-title {
        margin-top: -8px;
        font-weight: bold;
        font-size: 17px;
        @include mq-pc() {
          margin-top: -10px;
          font-size: 20px;
        }
      }

      &-text {
        font-size: 11px;
        @include mq-pc() {
          line-height: 1.5;
          font-size: 12px;
        }

        > a {
          color: #fff;
        }
      }
    }

    //detail shop
    .detail-shop {
      .detail-title {
        width: 138px;
        margin-top: 0;
        margin-bottom: 12px;
        @include mq-pc() {
          width: 209px;
        }
      }
    }
  }

}

/* ----------------------------------------------------------
 mod-gallery
---------------------------------------------------------- */

.mod-gallery {
  position: relative;
}

.mod-gallery-primary {
  position: relative;
  margin: -65px 0 30px 45px;
  @include mq-pc() {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 15%;
  }

  .mod-gallery-image-01 {
    width: 180px;
    @include mq-pc() {
      width: 44.85%;
      margin-left: 21%;
    }
  }

  .mod-gallery-image-02 {
    position: absolute;
    top: 0;
    left: -45px;
    width: 67px;
    margin-top: 90px;
    @include mq-pc() {
      width: 16.85%;
      margin-top: 19%;
      margin-left: 13.3%;
    }
  }

  .mod-gallery-image-03 {
    position: absolute;
    top: 0;
    right: -10px;
    width: 118px;
    margin-top: 100px;
    @include mq-pc() {
      width: 28%;
      margin-top: 22%;
      margin-right: 9%;
    }
  }

  .mod-gallery-text {
    padding-bottom: 25px;
    margin-top: 40px;
    margin-left: -45px;
    font-size: 10px;
    line-height: 1.5;
    @include mq-pc() {
      position: absolute;
      bottom: -105px;
      margin-left: 27%;
      font-size: 12px;
      line-height: 2;
    }
  }
}

.mod-gallery-secondary {
  margin-left: 10px;
  @include mq-pc() {
    margin-top: 114px;
    margin-bottom: 60px;
    margin-left: auto;
    max-width: 996px;
  }
  .mod-gallery-inner {
    display: flex;
    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
  .mod-gallery-image {

  }
  .mod-gallery-image-01 {
    width: 170px;
    @include mq-pc() {
      width: auto;
      margin-top: -30px;
      margin-left: 30px;
    }
  }
  .mod-gallery-image-02 {
    width: 110px;
    margin: 45px 0 5px 10px;
    @include mq-pc() {
      width: auto;
      margin-top: 100px;
      margin-left: 20px;
    }
  }
  .mod-gallery-image-03 {
    width: 81px;
    margin-top: 20px;
    @include mq-pc() {
      width: auto;
      margin-top: 57px;
    }
  }
  .mod-gallery-image-04 {
    width: 222px;
    margin-left: 7px;
    @include mq-pc() {
      width: auto;
      margin-left: 20px;
    }
  }
}

.mod-gallery-tertiary {
  margin-top: 45px;
  @include mq-pc() {
    position: relative;
    right: 75px;
    margin-top: 210px;
  }

  @media screen and (min-width: 767px) and (max-width: 1200px) {
    margin-top: 400px;
  }

  @media screen and (min-width: 767px) and (max-width: 900px) {
    margin-top: 600px;
  }
  .mod-gallery-inner {
    position: relative;
    &:nth-child(2) {
      display: flex;
      margin-left: -10px;
      @include mq-pc() {
        position: relative;
        top: 15px;
        right: 3%;
        justify-content: flex-end;
      }
    }
  }

  .title {
    position: absolute;
    bottom: 0;
  }

  .mod-gallery-image-01 {
    width: 240px;
    margin: 0 75px 18px auto;
    @include mq-pc() {
      width: 33.3%;
    }
  }
  .mod-gallery-image-02 {
    width: 225px;
    @include mq-pc() {
      width: 31.5%;
    }
  }
  .mod-gallery-image-03 {
    width: 117px;
    margin-top: 50px;
    margin-left: 20px;
    @include mq-pc() {
      width: 16.5%;
    }
  }

}
.mod-gallery-quaternary {
  display: flex;
  max-width: 375px;
  margin: 0 auto;
  @include mq-pc() {
    position: relative;
    top: -170px;
    max-width: 1000px;
    margin: 0 auto -70px;
  }
  .mod-gallery-inner {
    &:nth-child(1) {
      margin-top: -58px;
      margin-left: 10px;
      @include mq-pc() {
        margin-top: 0;
        margin-left: 0;
      }
    }
    &:nth-child(2) {
      margin-top: -58px;
      margin-left: auto;
      @include mq-pc() {
        margin-top: 0;
      }
    }
  }

  .mod-gallery-image-01 {
    max-width: 135px;
    margin-top: 50px;
    @include mq-pc() {
      max-width: 370px;
      margin-top: 95px;
    }
  }
  .mod-gallery-image-02 {
    max-width: 80px;
    margin-top: 25px;
    margin-left: 40px;
    @include mq-pc() {
      max-width: 227px;
      margin-left: auto;
      margin-right: 15px;
    }
  }
  .mod-gallery-image-03 {
    max-width: 193px;
    margin-bottom: 20px;
    @include mq-pc() {
      margin-bottom: 0;
      max-width: 549px;
    }
  }
}