@charset "utf-8";

/* ----------------------------------------------------------
 style
---------------------------------------------------------- */
.s-display-ib { display: inline-block !important;}
.s-fw-n     { font-weight: normal !important;}
.s-nowrap   { white-space: nowrap !important;}
.s-fw-b     { font-weight: bold !important;}
.s-fs-italic     { font-style: italic !important;}
.s-td-n     { text-decoration: none !important;}
.s-td-u     { text-decoration: underline !important;}
.s-ta-l     { text-align: left !important;}
.s-ta-c     { text-align: center !important;}
.s-ta-r     { text-align: right !important;}
.s-va-t     { vertical-align: top !important;}
.s-va-m     { vertical-align: middle !important;}
.s-va-b     { vertical-align: bottom !important;}
.s-txt-hide { text-indent: 100%; white-space: nowrap; overflow: hidden;}
.s-ls-n     { letter-spacing: normal !important;}
.s-b-b      { border-bottom: 1px solid #ccc; }
.s-b-t      { border-top: 1px solid #ccc; }
.s-w-auto { width: auto !important;}

@media screen and (min-width: 768px) {
  .s-ls-n001-pc  { letter-spacing: -.01em !important;}
  .s-ls-n002-pc  { letter-spacing: -.02em !important;}
  .s-ls-n003-pc  { letter-spacing: -.03em !important;}
  .s-ta-l-pc     { text-align: left !important;}
  .s-ta-c-pc     { text-align: center !important;}
  .s-ta-r-pc     { text-align: right !important;}
  .s-va-t-pc     { vertical-align: top !important;}
  .s-va-m-pc     { vertical-align: middle !important;}
  .s-va-b-pc     { vertical-align: bottom !important;}
}
@media screen and (max-width: 767px) {
  .s-ls-n001-sp  { letter-spacing: -.01em !important;}
  .s-ls-n002-sp  { letter-spacing: -.02em !important;}
  .s-ls-n003-sp  { letter-spacing: -.03em !important;}
  .s-ta-l-sp     { text-align: left !important;}
  .s-ta-c-sp     { text-align: center !important;}
  .s-ta-r-sp     { text-align: right !important;}
  .s-va-t-sp     { vertical-align: top !important;}
  .s-va-m-sp     { vertical-align: middle !important;}
  .s-va-b-sp     { vertical-align: bottom !important;}
}
.s-fz-10 { font-size: 10px !important;}
.s-fz-11 { font-size: 11px !important;}
.s-fz-12 { font-size: 12px !important;}
.s-fz-13 { font-size: 13px !important;}
.s-fz-14 { font-size: 14px !important;}
.s-fz-15 { font-size: 15px !important;}
.s-fz-16 { font-size: 16px !important;}
.s-fz-17 { font-size: 17px !important;}
.s-fz-18 { font-size: 18px !important;}
.s-fz-19 { font-size: 19px !important;}
.s-fz-20 { font-size: 20px !important;}
.s-fz-25 { font-size: 25px !important;}
.s-fz-30 { font-size: 30px !important;}
.s-fz-35 { font-size: 35px !important;}
.s-fz-40 { font-size: 40px !important;}
.s-lh-10 { line-height: 1.0 !important;}
.s-lh-15 { line-height: 1.5 !important;}
.s-lh-18 { line-height: 1.8 !important;}
@media screen and (min-width: 768px) {
  .s-fz-10-pc { font-size: 10px !important;}
  .s-fz-11-pc { font-size: 11px !important;}
  .s-fz-12-pc { font-size: 12px !important;}
  .s-fz-13-pc { font-size: 13px !important;}
  .s-fz-14-pc { font-size: 14px !important;}
  .s-fz-15-pc { font-size: 15px !important;}
  .s-fz-16-pc { font-size: 16px !important;}
  .s-fz-17-pc { font-size: 17px !important;}
  .s-fz-18-pc { font-size: 18px !important;}
  .s-fz-19-pc { font-size: 19px !important;}
  .s-fz-20-pc { font-size: 20px !important;}
  .s-fz-25-pc { font-size: 25px !important;}
  .s-fz-30-pc { font-size: 30px !important;}
  .s-fz-35-pc { font-size: 35px !important;}
  .s-fz-40-pc { font-size: 40px !important;}
}
@media screen and (max-width: 767px) {
  .s-fz-10-sp { font-size: 10px !important;}
  .s-fz-11-sp { font-size: 11px !important;}
  .s-fz-12-sp { font-size: 12px !important;}
  .s-fz-13-sp { font-size: 13px !important;}
  .s-fz-14-sp { font-size: 14px !important;}
  .s-fz-15-sp { font-size: 15px !important;}
  .s-fz-16-sp { font-size: 16px !important;}
  .s-fz-17-sp { font-size: 17px !important;}
  .s-fz-18-sp { font-size: 18px !important;}
  .s-fz-19-sp { font-size: 19px !important;}
  .s-fz-20-sp { font-size: 20px !important;}
  .s-fz-25-sp { font-size: 25px !important;}
  .s-fz-30-sp { font-size: 30px !important;}
  .s-fz-35-sp { font-size: 35px !important;}
  .s-fz-40-sp { font-size: 40px !important;}
}
/* -- overflow -- */
.s-ov-h     { overflow: hidden !important;}
/* -- clear -- */
.s-clear    { clear: both !important;}
/* -- display -- */
.s-hide     { display: none !important;}

/* -- width -- */
.s-w-70    { width: 70px !important;}
.s-w-170    { width: 170px !important;}
.s-w-270    { width: 270px !important;}
.s-w-370    { width: 370px !important;}
.s-w-470    { width: 470px !important;}
.s-w-570    { width: 570px !important;}
.s-w-full    { width: 100% !important;}
@media screen and (min-width: 768px) {
  .s-w-70-pc    { width: 70px !important;}
  .s-w-170-pc    { width: 170px !important;}
  .s-w-270-pc    { width: 270px !important;}
  .s-w-370-pc    { width: 370px !important;}
  .s-w-470-pc    { width: 470px !important;}
  .s-w-570-pc    { width: 570px !important;}
  .s-w-20per-pc    { width: 20% !important;}
  .s-w-25per-pc    { width: 25% !important;}
  .s-w-33per-pc    { width: 33% !important;}
  .s-w-50per-pc    { width: 50% !important;}
  .s-w-66per-pc    { width: 66% !important;}
  .s-w-80per-pc    { width: 80% !important;}
  .s-w-100per-pc    { width: 100% !important;}
  .s-w-full-pc    { width: 100% !important;}
  .s-mxw-70-pc    { max-width: 70px !important;}
  .s-mxw-170-pc    { max-width: 170px !important;}
  .s-mxw-270-pc    { max-width: 270px !important;}
  .s-mxw-370-pc    { max-width: 370px !important;}
  .s-mxw-470-pc    { max-width: 470px !important;}
  .s-mxw-570-pc    { max-width: 570px !important;}
  .s-mxw-full-pc    { max-width: 100% !important;}
  .s-h-250-pc    { height: 250px !important;}
}
@media screen and (max-width: 767px) {
  .s-w-70-sp    { width: 70px !important;}
  .s-w-170-sp    { width: 170px !important;}
  .s-w-270-sp    { width: 270px !important;}
  .s-w-370-sp    { width: 370px !important;}
  .s-w-470-sp    { width: 470px !important;}
  .s-w-570-sp    { width: 570px !important;}
  .s-w-20per-sp    { width: 20% !important;}
  .s-w-25per-sp    { width: 25% !important;}
  .s-w-33per-sp    { width: 33% !important;}
  .s-w-50per-sp    { width: 50% !important;}
  .s-w-66per-sp    { width: 66% !important;}
  .s-w-80per-sp    { width: 80% !important;}
  .s-w-100per-sp    { width: 100% !important;}
  .s-w-full-sp    { width: 100% !important;}
  .s-mxw-70-sp    { max-width: 70px !important;}
  .s-mxw-170-sp    { max-width: 170px !important;}
  .s-mxw-270-sp    { max-width: 270px !important;}
  .s-mxw-370-sp    { max-width: 370px !important;}
  .s-mxw-470-sp    { max-width: 470px !important;}
  .s-mxw-570-sp    { max-width: 570px !important;}
  .s-mxw-full-sp    { max-width: 100% !important;}
}
/* -- margin -- */
.s-mt-00    { margin-top: 0 !important;}
.s-mb-00    { margin-bottom: 0 !important;}
.s-ml-00    { margin-left: 0 !important;}
.s-mr-00    { margin-right: 0 !important;}
@media screen and (min-width: 768px) {
  .s-mt-00-pc    { margin-top: 0 !important;}
  .s-mt-05-pc    { margin-top: 5px !important;}
  .s-mt-10-pc    { margin-top: 10px !important;}
  .s-mt-15-pc    { margin-top: 15px !important;}
  .s-mt-20-pc    { margin-top: 20px !important;}
  .s-mt-25-pc    { margin-top: 25px !important;}
  .s-mt-30-pc    { margin-top: 30px !important;}
  .s-mt-40-pc    { margin-top: 40px !important;}
  .s-mt-50-pc    { margin-top: 50px !important;}
  .s-mt-60-pc    { margin-top: 60px !important;}
  .s-mt-70-pc    { margin-top: 70px !important;}
  .s-mt-80-pc    { margin-top: 80px !important;}
  .s-mt-90-pc    { margin-top: 90px !important;}
  .s-mt-100-pc    { margin-top: 100px !important;}
  .s-mb-00-pc    { margin-bottom: 0 !important;}
  .s-mb-05-pc    { margin-bottom: 5px !important;}
  .s-mb-10-pc    { margin-bottom: 10px !important;}
  .s-mb-15-pc    { margin-bottom: 15px !important;}
  .s-mb-20-pc    { margin-bottom: 20px !important;}
  .s-mb-25-pc    { margin-bottom: 25px !important;}
  .s-mb-30-pc    { margin-bottom: 30px !important;}
  .s-mb-40-pc    { margin-bottom: 40px !important;}
  .s-mb-50-pc    { margin-bottom: 50px !important;}
  .s-mb-60-pc    { margin-bottom: 60px !important;}
  .s-mb-70-pc    { margin-bottom: 70px !important;}
  .s-mb-80-pc    { margin-bottom: 80px !important;}
  .s-mb-90-pc    { margin-bottom: 90px !important;}
  .s-mb-100-pc    { margin-bottom: 100px !important;}
  .s-ml-00-pc    { margin-left: 0 !important;}
  .s-ml-05-pc    { margin-left: 5px !important;}
  .s-ml-10-pc    { margin-left: 10px !important;}
  .s-ml-15-pc    { margin-left: 15px !important;}
  .s-ml-20-pc    { margin-left: 20px !important;}
  .s-ml-25-pc    { margin-left: 25px !important;}
  .s-ml-30-pc    { margin-left: 30px !important;}
  .s-ml-40-pc    { margin-left: 40px !important;}
  .s-ml-50-pc    { margin-left: 50px !important;}
  .s-ml-60-pc    { margin-left: 60px !important;}
  .s-ml-70-pc    { margin-left: 70px !important;}
  .s-ml-80-pc    { margin-left: 80px !important;}
  .s-ml-90-pc    { margin-left: 90px !important;}
  .s-ml-100-pc    { margin-left: 100px !important;}
  .s-mr-00-pc    { margin-right: 0 !important;}
  .s-mr-05-pc    { margin-right: 5px !important;}
  .s-mr-10-pc    { margin-right: 10px !important;}
  .s-mr-15-pc    { margin-right: 15px !important;}
  .s-mr-20-pc    { margin-right: 20px !important;}
  .s-mr-25-pc    { margin-right: 25px !important;}
  .s-mr-30-pc    { margin-right: 30px !important;}
  .s-mr-40-pc    { margin-right: 40px !important;}
  .s-mr-50-pc    { margin-right: 50px !important;}
  .s-mr-60-pc    { margin-right: 60px !important;}
  .s-mr-70-pc    { margin-right: 70px !important;}
  .s-mr-80-pc    { margin-right: 80px !important;}
  .s-mr-90-pc    { margin-right: 90px !important;}
  .s-mr-100-pc    { margin-right: 100px !important;}
}
@media screen and (max-width: 767px) {
  .s-mt-00-sp    { margin-top: 0 !important;}
  .s-mt-05-sp    { margin-top: 5px !important;}
  .s-mt-10-sp    { margin-top: 10px !important;}
  .s-mt-15-sp    { margin-top: 15px !important;}
  .s-mt-20-sp    { margin-top: 20px !important;}
  .s-mt-25-sp    { margin-top: 25px !important;}
  .s-mt-30-sp    { margin-top: 30px !important;}
  .s-mt-40-sp    { margin-top: 40px !important;}
  .s-mt-50-sp    { margin-top: 50px !important;}
  .s-mt-60-sp    { margin-top: 60px !important;}
  .s-mt-70-sp    { margin-top: 70px !important;}
  .s-mt-80-sp    { margin-top: 80px !important;}
  .s-mt-90-sp    { margin-top: 90px !important;}
  .s-mt-100-sp    { margin-top: 100px !important;}
  .s-mb-00-sp    { margin-bottom: 0 !important;}
  .s-mb-05-sp    { margin-bottom: 5px !important;}
  .s-mb-10-sp    { margin-bottom: 10px !important;}
  .s-mb-15-sp    { margin-bottom: 15px !important;}
  .s-mb-20-sp    { margin-bottom: 20px !important;}
  .s-mb-25-sp    { margin-bottom: 25px !important;}
  .s-mb-30-sp    { margin-bottom: 30px !important;}
  .s-mb-40-sp    { margin-bottom: 40px !important;}
  .s-mb-50-sp    { margin-bottom: 50px !important;}
  .s-mb-60-sp    { margin-bottom: 60px !important;}
  .s-mb-70-sp    { margin-bottom: 70px !important;}
  .s-mb-80-sp    { margin-bottom: 80px !important;}
  .s-mb-90-sp    { margin-bottom: 90px !important;}
  .s-mb-100-sp    { margin-bottom: 100px !important;}
  .s-ml-00-sp    { margin-left: 0 !important;}
  .s-ml-05-sp    { margin-left: 5px !important;}
  .s-ml-10-sp    { margin-left: 10px !important;}
  .s-ml-15-sp    { margin-left: 15px !important;}
  .s-ml-20-sp    { margin-left: 20px !important;}
  .s-ml-25-sp    { margin-left: 25px !important;}
  .s-ml-30-sp    { margin-left: 30px !important;}
  .s-ml-40-sp    { margin-left: 40px !important;}
  .s-ml-50-sp    { margin-left: 50px !important;}
  .s-ml-60-sp    { margin-left: 60px !important;}
  .s-ml-70-sp    { margin-left: 70px !important;}
  .s-ml-80-sp    { margin-left: 80px !important;}
  .s-ml-90-sp    { margin-left: 90px !important;}
  .s-ml-100-sp    { margin-left: 100px !important;}
  .s-mr-00-sp    { margin-right: 0 !important;}
  .s-mr-05-sp    { margin-right: 5px !important;}
  .s-mr-10-sp    { margin-right: 10px !important;}
  .s-mr-15-sp    { margin-right: 15px !important;}
  .s-mr-20-sp    { margin-right: 20px !important;}
  .s-mr-25-sp    { margin-right: 25px !important;}
  .s-mr-30-sp    { margin-right: 30px !important;}
  .s-mr-40-sp    { margin-right: 40px !important;}
  .s-mr-50-sp    { margin-right: 50px !important;}
  .s-mr-60-sp    { margin-right: 60px !important;}
  .s-mr-70-sp    { margin-right: 70px !important;}
  .s-mr-80-sp    { margin-right: 80px !important;}
  .s-mr-90-sp    { margin-right: 90px !important;}
  .s-mr-100-sp    { margin-right: 100px !important;}
}
@media screen and (min-width: 768px) {
  .s-pt-00-pc    { padding-top: 0 !important;}
  .s-pt-10-pc    { padding-top: 10px !important;}
  .s-pt-20-pc    { padding-top: 20px !important;}
  .s-pt-30-pc    { padding-top: 30px !important;}
  .s-pt-40-pc    { padding-top: 40px !important;}
  .s-pt-50-pc    { padding-top: 50px !important;}
  .s-pb-00-pc    { padding-bottom: 0 !important;}
  .s-pb-10-pc    { padding-bottom: 10px !important;}
  .s-pb-20-pc    { padding-bottom: 20px !important;}
  .s-pb-30-pc    { padding-bottom: 30px !important;}
  .s-pb-40-pc    { padding-bottom: 40px !important;}
  .s-pb-50-pc    { padding-bottom: 50px !important;}
  .s-pl-00-pc    { padding-left: 0 !important;}
  .s-pl-10-pc    { padding-left: 10px !important;}
  .s-pl-20-pc    { padding-left: 20px !important;}
  .s-pl-30-pc    { padding-left: 30px !important;}
  .s-pl-40-pc    { padding-left: 40px !important;}
  .s-pl-50-pc    { padding-left: 50px !important;}
  .s-pr-00-pc    { padding-right: 0 !important;}
  .s-pr-10-pc    { padding-right: 10px !important;}
  .s-pr-20-pc    { padding-right: 20px !important;}
  .s-pr-30-pc    { padding-right: 30px !important;}
  .s-pr-40-pc    { padding-right: 40px !important;}
  .s-pr-50-pc    { padding-right: 50px !important;}
}
@media screen and (max-width: 767px) {
  .s-pt-00-sp    { padding-top: 0 !important;}
  .s-pt-10-sp    { padding-top: 10px !important;}
  .s-pt-20-sp    { padding-top: 20px !important;}
  .s-pt-30-sp    { padding-top: 30px !important;}
  .s-pt-40-sp    { padding-top: 40px !important;}
  .s-pt-50-sp    { padding-top: 50px !important;}
  .s-pb-00-sp    { padding-bottom: 0 !important;}
  .s-pb-10-sp    { padding-bottom: 10px !important;}
  .s-pb-20-sp    { padding-bottom: 20px !important;}
  .s-pb-30-sp    { padding-bottom: 30px !important;}
  .s-pb-40-sp    { padding-bottom: 40px !important;}
  .s-pb-50-sp    { padding-bottom: 50px !important;}
  .s-pl-00-sp    { padding-left: 0 !important;}
  .s-pl-10-sp    { padding-left: 10px !important;}
  .s-pl-20-sp    { padding-left: 20px !important;}
  .s-pl-30-sp    { padding-left: 30px !important;}
  .s-pl-40-sp    { padding-left: 40px !important;}
  .s-pl-50-sp    { padding-left: 50px !important;}
  .s-pr-00-sp    { padding-right: 0 !important;}
  .s-pr-10-sp    { padding-right: 10px !important;}
  .s-pr-20-sp    { padding-right: 20px !important;}
  .s-pr-30-sp    { padding-right: 30px !important;}
  .s-pr-40-sp    { padding-right: 40px !important;}
  .s-pr-50-sp    { padding-right: 50px !important;}
}
/* -- padding -- */
.s-pt-00    { padding-top: 0 !important;}
.s-pb-00    { padding-bottom: 0 !important;}
.s-pl-00    { padding-left: 0 !important;}
.s-pr-00    { padding-right: 0 !important;}
@media screen and (min-width: 768px) {
  .s-p-00-pc { padding: 0 !important;}
}
@media screen and (max-width: 767px) {
  .s-p-00-sp { padding: 0 !important;}
}

/* ----------------------------------------------------------
 rwd switch
---------------------------------------------------------- */
@media all and (max-width: 768px) {
  .only-pc {
    display: none !important;
  }
}

@media all and (min-width: 769px) {
  .only-sp {
    display: none !important;
  }
}
