@charset "utf-8";
@import "../base/_variable";
@import "../base/_mixin";
@import "../base/_sprite";

/* ==========================================================
 list
========================================================== */

.list-cmn,
%list-cmn {
  padding-left: 17px;
  list-style-type: disc;
  font-size: 13px;
  @include mq-pc() {
    font-size: 14px;
  }
}

.list-cmn-number {
  @extend %list-cmn;
  list-style-type: decimal;
}

/* list-define
--------------------------------------------- */
.list-define-wrap {
  padding-top: 27px;
  border-top: 1px solid #ccc;
  @include mq-pc() {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.list-define {
  padding-right: 10px;
  padding-left: 10px;
  @include mq-pc() {
    display: table;
    padding-right: 0;
    padding-left: 0;
  }
  + .list-define {
    margin-top: 20px;
    @include mq-pc() {
      margin-top: 60px;
    }
  }
  .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    @include mq-pc() {
      display: table-cell;
      width: 280px;
      padding-left: 1em;
      font-size: 16px;
      text-indent: -1em;
    }

    .caution {
      font-weight: normal;
      @include mq-pc() {
        display: block;
      }
    }
  }

  .title-sub {
    margin-top: 27px;
    @include mq-pc() {
      font-size: 14px;
    }
  }

  .text {
    font-size: 12px;
     + .text {
       margin-top: 10px;
      @include mq-pc() {
        margin-top: 20px;
      }
    }

    @include mq-pc() {
      font-size: 14px;
    }
    &-caution {
      margin-bottom: 20px;
    }

    &-contact {
      margin-top: 20px;
    }

    .link {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  .list {
    .list-item {
      padding-left: 3em;
      text-indent: -3em;
    }
  }


  //list-inner-
  @at-root .list-inner-one {
    &-item {
      margin-bottom: 20px;
    }
  }

  //list-inner-two
  @at-root .list-inner-two {
    &-title {

    }
    &-text {
      padding-left: 1.3em;
    }
  }

  //stage-one
  .stage-one {
    padding-right: 0;
    padding-left: 0;

    .title {
      margin-bottom: 0;
      font-size: 12px;
    }
  }

}

.list-define-info {
  .title-sub {
    margin-top: 0;
    font-weight: bold;
    + .text {
      margin-bottom: 20px;
    }
  }
}

/* list-define-company
--------------------------------------------- */
.list-define-primary-wrap {
  padding: 0;
  border-top: none;
}

.list-define-primary {
  padding-top: 15px;
  border-top: 1px solid #ccc;
  @include mq-pc() {
    width: 100%;
    padding-top: 0;
  }
  + .list-define-primary {
    margin-top: 15px;
    @include mq-pc() {
      margin-top: 0;
    }
  }
  &:last-child {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }

  .title {
    margin-bottom: 5px;
    @include mq-pc() {
      padding: 30px;
      background-color: gold;
    }
  }

  .text {
    @include mq-pc() {
      padding: 30px;
    }
  }

  //list-define-pull
  .text-has-list {
    margin-bottom: 10px;
  }
}

/* list-number
--------------------------------------------- */
.list-number {
  counter-reset: number;
  padding-left: 10px;
  @include mq-pc() {
    padding-left: 15px;
  }
  li {
    position: relative;
    &::before {
      counter-increment: number;
      content: counter(number)'.';
      margin-right: 10px;
      @include mq-pc() {
        margin-right: 20px;
      }
    }
  }
}
