@charset "utf-8";
@import "../base/_variable";
@import "../base/_mixin";
@import "../base/_sprite";

/* ==========================================================
 table
========================================================== */
/* table-cmn
---------------------------------------------------------- */
.table-cmn-wrap {
  & + & {
    margin-top: 30px;
  }

  &.table-confirm {
    padding-top: 20px;
    border-top: 1px solid #c0c0c0;
    margin-top: 20px;
    @include mq-pc() {
      padding-top: 40px;
      margin-top: 40px;
    }
  }
}

.table-cmn {
  display: block;
  @include mq-pc() {
    display: table;
  }
  .title,
  .text {
    display: block;
  }
  .title {
    border-top: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
    @include mq-pc() {
      display: table-cell;
      width: 180px;
      padding: 30px;
      font-size: 14px;
      background-color: $color-secondary;
    }
    .caution {
      display: block;
      font-weight: normal;
      @include mq-pc() {
        margin-top: -5px;
        font-size: 12px;
      }
    }
  }

  .text {
    border-top: none;
    padding-bottom: 10px;
    font-size: 12px;
    @include mq-pc() {
      display: table-cell;
      padding: 30px;
      border-top: 1px solid #ccc;
      font-size: 14px;
    }
  }

  tr:last-child {
    .text {
      border-bottom: 1px solid #ccc;
      @include mq-pc() {
        border-bottom: none;
      }
    }
  }
}

/* table-form
---------------------------------------------------------- */
.table-form {
  width: 100%;
  display: table;

  .title,
  .text {
    display: table-cell;
    border: 2px solid #fff;
    line-height: 1.5;
    @include mq-pc() {
      border-width: 4px;
    }
  }

  .title {
    width: 35%;
    padding: 15px 13px;
    background-color: $color-secondary;
    @include mq-pc() {
      width: 260px;
      padding: 27px 30px;
    }

    &-middle {
      vertical-align: middle;
    }
  }

  //caption
  &-caption {
    position: relative;
    display: block;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-primary;
    margin: 0 3px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    @include mq-pc() {
      margin-bottom: 25px;
    }
    &::before {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      right: 0;
      width: 20px;
      height: 10px;
      margin: -7px auto 0;
      border-right: 2px solid $color-primary;
      transform: rotate(135deg);
      background-color: #fff;
    }
    @include mq-pc() {
      font-size: 14px;
    }
  }

  .text {
    padding: 15px;
    vertical-align: middle;

    @include mq-pc() {
      padding: 15px 30px;
    }
  }
  .text-contact {
    .form-textarea {
      min-height: 191px;
    }
  }

  tr:last-child {
    .text {
      border-bottom: none;
    }
  }

  .post-number {
    .text {
      padding-left: 30px;
      @include mq-pc() {
        padding-left: 50px;
        &.is-confirm {
          padding-left: 30px;
        }
        input {
          max-width: 250px;
        }
      }
    }
    label {
      position: relative;
      &::before {
        position: absolute;
        content: '〒';
        top: 0;
        right: 100%;
        bottom: 0;
        margin: auto 5px auto 0;
        font-weight: bold;
      }
    }
  }

  //select
  .form-select-wrap {
    margin-top: 0;
  }

  // layout checkbox to table
  .text-inner-table {
    &.table-auto {
      width: auto;
    }
    @include mq-pc() {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    .form-checkbox-wrap {
      @include mq-pc() {
        display: table-cell;
      }
    }
  }
  // layout checkbox to flex
  .text-inner-float {
    @include mq-pc() {
      @include clearfix();
    }
    .form-checkbox-wrap {
      @include mq-pc() {
        float: left;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .checkbox-etc {
    padding-top: 20px;
    @include mq-pc() {
      padding-top: 40px;
    }
  }
}

/* table-primary
---------------------------------------------------------- */
.table-cmn-wrap-primary {
  @include mq-sp() {
    overflow-x: scroll;
  }
}

.table-primary {
  border-collapse: initial;
  @include mq-sp() {
    width: 1140px;
  }

  thead {
    th {
      font-weight:bold;
    }
  }

  td,th {
    padding: 3px 7px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    color: #231815;
    font-size: 14px;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    &:last-child {
      border-right: none;
    }
  }

  .table-primary-title {
    border-right: 1px dashed;
  }

  .txt-brown {
    color: #7f4f21;
  }

  .txt-green {
    color: #005e2e;
  }
}
