@import "variable";
@import "mixin";

/* ==========================================================
 base
========================================================== */
html {
  overflow-y: scroll;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  @include mq-sp () {
    font-size: 68.8%;
  }
}

body {
  line-height: 2.0;
  color: #000;
  font-family: $family-base;
  font-size: 1.2rem;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

a {
  color: #000;
  text-decoration: none;
  transition: opacity .2s;
}

a:hover,
a:active,
a:focus { text-decoration: none;}
a:hover {
  @include mq-pc() {
    opacity: .6;
    transition: opacity .3s;
  }
}

a[href^="tel"] {
  &:hover {
    opacity: 1;
    transition: none;
    cursor: text;
  }
}
