@charset "utf-8";
@import "variable";
// ==========================================================
// メディアクエリー
// ==========================================================
@mixin mq-sp {
  @media screen and (max-width: $break-point + 1) {
    @content;
  }
}

@mixin mq-pc {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin mq-tb {
  @media screen and (min-width: $break-point) and (max-width: 1088px) {
    @content;
  }
}

@mixin mq-land {
  @media screen and (orientation: landscape) and (max-width: $break-point + 1) {
    @content;
  }
}

// ==========================================================
// clearfix
// ==========================================================
@mixin clearfix() {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

// ==========================================================
// font size sp to pc
// ==========================================================
//@mixin font-size-change-pc($fontSizeSp) {
//  @include mq-pc() {
//
//  }
//}

// ==========================================================
// icon view
// ==========================================================
@mixin icon($iconImage) {
  width: $ico-width-sp;
  height: $ico-height-sp;
  background-image: url($iconImage);
  background-size: contain;
  display: inline-block;
  @include mq-pc() {
    width: $ico-width-pc;
    height: $ico-height-pc;
  }
}

// ==========================================================
// opacity hover
// ==========================================================
@mixin opacityHover {
  &:hover {
    opacity: $opacity-base;
  }
}
// ==========================================================
// text hover
// ==========================================================
@mixin textHover {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

// ==========================================================
//
// ==========================================================

// ==========================================================
//
// ==========================================================

// ==========================================================
//
// ==========================================================

// ==========================================================
//
// ==========================================================

// ==========================================================
// px to em
// ==========================================================
@function em($pixels, $fontSize: $font-size-base-pc) {

  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  //remove 'px' string
  @if (unitless($fontSize)) {
    $fontSize: $fontSize * 1px;
  }

  @return $pixels / $fontSize * 1em;
}