@charset "utf-8";
@import "mixin";
/* ==========================================================
 reset css
========================================================== */

body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td, button, figure, figcaption
{ margin: 0; padding: 0;}
main, article, aside, figure, figcaption, footer, header, nav, section,picture
{ display: block;}
input, textarea
{ margin: 0; font-size: 100%;}
input, textarea, select
{ -webkit-appearance: none;border: 0;border-radius: 0; outline: 0;}
textarea
{ height: auto; resize: none;}
select
{ font-size: inherit; appearance: none;}
select::-ms-expand
{ display: none;}
button
{ display: inline-block; padding: 0; border: none; overflow: visible; vertical-align: top; font: inherit; font-family: inherit; background: none; color: inherit; font-size: 100%; opacity: 1; cursor: pointer; outline: none; text-transform: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner
{ border: 0; padding: 0;}
label
{ cursor: pointer;}
label img
{ pointer-events: none;}
table
{ width: 100%; max-width: 100%; border-collapse: collapse; border-spacing: 0; font-size: inherit;}
th, td
{ vertical-align: top;}
fieldset, img
{ border: 0;}
img
{ max-width: 100%; height: auto; vertical-align: top;}
address, caption, code, em, th
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6, strong, em
{ font-size: 100%; font-weight: normal;}
em
{ font-style: normal;}
b,strong
{ font-weight: bold;}
br,picture
{ font-size: 0; line-height: 0;}
i
{ display: inline-block; vertical-align: middle; font-style: normal;}
hr
{ display: block; height: 0; border: none; margin: 0;}

a, input
{ outline: none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
*, *:before, *:after
{ box-sizing: border-box; -webkit-tap-highlight-color:rgba(0,0,0,0);}

iframe {  border: none;  }

@include mq-pc() { a[href^="tel"] { pointer-events: none;} }
