// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-footer-pagetop-name: 'btn_footer_pagetop';
$btn-footer-pagetop-x: 0px;
$btn-footer-pagetop-y: 0px;
$btn-footer-pagetop-offset-x: 0px;
$btn-footer-pagetop-offset-y: 0px;
$btn-footer-pagetop-width: 82px;
$btn-footer-pagetop-height: 32px;
$btn-footer-pagetop-total-width: 327px;
$btn-footer-pagetop-total-height: 314px;
$btn-footer-pagetop-image: '/common/img/sprite.png';
$btn-footer-pagetop: (0px, 0px, 0px, 0px, 82px, 32px, 327px, 314px, '/common/img/sprite.png', 'btn_footer_pagetop', );
$btn-footer-pagetop-2x-name: 'btn_footer_pagetop@2x';
$btn-footer-pagetop-2x-x: 0px;
$btn-footer-pagetop-2x-y: 36px;
$btn-footer-pagetop-2x-offset-x: 0px;
$btn-footer-pagetop-2x-offset-y: -36px;
$btn-footer-pagetop-2x-width: 82px;
$btn-footer-pagetop-2x-height: 32px;
$btn-footer-pagetop-2x-total-width: 327px;
$btn-footer-pagetop-2x-total-height: 314px;
$btn-footer-pagetop-2x-image: '/common/img/sprite.png';
$btn-footer-pagetop-2x: (0px, 36px, 0px, -36px, 82px, 32px, 327px, 314px, '/common/img/sprite.png', 'btn_footer_pagetop@2x', );
$btn-slider-left-name: 'btn_slider_left';
$btn-slider-left-x: 248px;
$btn-slider-left-y: 114px;
$btn-slider-left-offset-x: -248px;
$btn-slider-left-offset-y: -114px;
$btn-slider-left-width: 22px;
$btn-slider-left-height: 42px;
$btn-slider-left-total-width: 327px;
$btn-slider-left-total-height: 314px;
$btn-slider-left-image: '/common/img/sprite.png';
$btn-slider-left: (248px, 114px, -248px, -114px, 22px, 42px, 327px, 314px, '/common/img/sprite.png', 'btn_slider_left', );
$btn-slider-left-01-sp-name: 'btn_slider_left_01_sp';
$btn-slider-left-01-sp-x: 29px;
$btn-slider-left-01-sp-y: 170px;
$btn-slider-left-01-sp-offset-x: -29px;
$btn-slider-left-01-sp-offset-y: -170px;
$btn-slider-left-01-sp-width: 25px;
$btn-slider-left-01-sp-height: 49px;
$btn-slider-left-01-sp-total-width: 327px;
$btn-slider-left-01-sp-total-height: 314px;
$btn-slider-left-01-sp-image: '/common/img/sprite.png';
$btn-slider-left-01-sp: (29px, 170px, -29px, -170px, 25px, 49px, 327px, 314px, '/common/img/sprite.png', 'btn_slider_left_01_sp', );
$btn-slider-right-name: 'btn_slider_right';
$btn-slider-right-x: 248px;
$btn-slider-right-y: 68px;
$btn-slider-right-offset-x: -248px;
$btn-slider-right-offset-y: -68px;
$btn-slider-right-width: 22px;
$btn-slider-right-height: 42px;
$btn-slider-right-total-width: 327px;
$btn-slider-right-total-height: 314px;
$btn-slider-right-image: '/common/img/sprite.png';
$btn-slider-right: (248px, 68px, -248px, -68px, 22px, 42px, 327px, 314px, '/common/img/sprite.png', 'btn_slider_right', );
$btn-slider-right-01-sp-name: 'btn_slider_right_01_sp';
$btn-slider-right-01-sp-x: 0px;
$btn-slider-right-01-sp-y: 170px;
$btn-slider-right-01-sp-offset-x: 0px;
$btn-slider-right-01-sp-offset-y: -170px;
$btn-slider-right-01-sp-width: 25px;
$btn-slider-right-01-sp-height: 49px;
$btn-slider-right-01-sp-total-width: 327px;
$btn-slider-right-01-sp-total-height: 314px;
$btn-slider-right-01-sp-image: '/common/img/sprite.png';
$btn-slider-right-01-sp: (0px, 170px, 0px, -170px, 25px, 49px, 327px, 314px, '/common/img/sprite.png', 'btn_slider_right_01_sp', );
$ico-ar-r-bk-12x20-2x-name: 'ico_ar_r_bk_12x20@2x';
$ico-ar-r-bk-12x20-2x-x: 313px;
$ico-ar-r-bk-12x20-2x-y: 52px;
$ico-ar-r-bk-12x20-2x-offset-x: -313px;
$ico-ar-r-bk-12x20-2x-offset-y: -52px;
$ico-ar-r-bk-12x20-2x-width: 12px;
$ico-ar-r-bk-12x20-2x-height: 20px;
$ico-ar-r-bk-12x20-2x-total-width: 327px;
$ico-ar-r-bk-12x20-2x-total-height: 314px;
$ico-ar-r-bk-12x20-2x-image: '/common/img/sprite.png';
$ico-ar-r-bk-12x20-2x: (313px, 52px, -313px, -52px, 12px, 20px, 327px, 314px, '/common/img/sprite.png', 'ico_ar_r_bk_12x20@2x', );
$ico-ar-r-bk-14x26-2x-name: 'ico_ar_r_bk_14x26@2x';
$ico-ar-r-bk-14x26-2x-x: 313px;
$ico-ar-r-bk-14x26-2x-y: 0px;
$ico-ar-r-bk-14x26-2x-offset-x: -313px;
$ico-ar-r-bk-14x26-2x-offset-y: 0px;
$ico-ar-r-bk-14x26-2x-width: 14px;
$ico-ar-r-bk-14x26-2x-height: 26px;
$ico-ar-r-bk-14x26-2x-total-width: 327px;
$ico-ar-r-bk-14x26-2x-total-height: 314px;
$ico-ar-r-bk-14x26-2x-image: '/common/img/sprite.png';
$ico-ar-r-bk-14x26-2x: (313px, 0px, -313px, 0px, 14px, 26px, 327px, 314px, '/common/img/sprite.png', 'ico_ar_r_bk_14x26@2x', );
$ico-arrow-bottom-03-pc-name: 'ico_arrow_bottom_03_pc';
$ico-arrow-bottom-03-pc-x: 313px;
$ico-arrow-bottom-03-pc-y: 76px;
$ico-arrow-bottom-03-pc-offset-x: -313px;
$ico-arrow-bottom-03-pc-offset-y: -76px;
$ico-arrow-bottom-03-pc-width: 14px;
$ico-arrow-bottom-03-pc-height: 9px;
$ico-arrow-bottom-03-pc-total-width: 327px;
$ico-arrow-bottom-03-pc-total-height: 314px;
$ico-arrow-bottom-03-pc-image: '/common/img/sprite.png';
$ico-arrow-bottom-03-pc: (313px, 76px, -313px, -76px, 14px, 9px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_bottom_03_pc', );
$ico-arrow-bottom-03-sp-name: 'ico_arrow_bottom_03_sp';
$ico-arrow-bottom-03-sp-x: 85px;
$ico-arrow-bottom-03-sp-y: 272px;
$ico-arrow-bottom-03-sp-offset-x: -85px;
$ico-arrow-bottom-03-sp-offset-y: -272px;
$ico-arrow-bottom-03-sp-width: 24px;
$ico-arrow-bottom-03-sp-height: 16px;
$ico-arrow-bottom-03-sp-total-width: 327px;
$ico-arrow-bottom-03-sp-total-height: 314px;
$ico-arrow-bottom-03-sp-image: '/common/img/sprite.png';
$ico-arrow-bottom-03-sp: (85px, 272px, -85px, -272px, 24px, 16px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_bottom_03_sp', );
$ico-arrow-bottom-04-pc-name: 'ico_arrow_bottom_04_pc';
$ico-arrow-bottom-04-pc-x: 94px;
$ico-arrow-bottom-04-pc-y: 223px;
$ico-arrow-bottom-04-pc-offset-x: -94px;
$ico-arrow-bottom-04-pc-offset-y: -223px;
$ico-arrow-bottom-04-pc-width: 15px;
$ico-arrow-bottom-04-pc-height: 9px;
$ico-arrow-bottom-04-pc-total-width: 327px;
$ico-arrow-bottom-04-pc-total-height: 314px;
$ico-arrow-bottom-04-pc-image: '/common/img/sprite.png';
$ico-arrow-bottom-04-pc: (94px, 223px, -94px, -223px, 15px, 9px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_bottom_04_pc', );
$ico-arrow-bottom-04-sp-name: 'ico_arrow_bottom_04_sp';
$ico-arrow-bottom-04-sp-x: 248px;
$ico-arrow-bottom-04-sp-y: 222px;
$ico-arrow-bottom-04-sp-offset-x: -248px;
$ico-arrow-bottom-04-sp-offset-y: -222px;
$ico-arrow-bottom-04-sp-width: 28px;
$ico-arrow-bottom-04-sp-height: 16px;
$ico-arrow-bottom-04-sp-total-width: 327px;
$ico-arrow-bottom-04-sp-total-height: 314px;
$ico-arrow-bottom-04-sp-image: '/common/img/sprite.png';
$ico-arrow-bottom-04-sp: (248px, 222px, -248px, -222px, 28px, 16px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_bottom_04_sp', );
$ico-arrow-bottom-05-pc-name: 'ico_arrow_bottom_05_pc';
$ico-arrow-bottom-05-pc-x: 67px;
$ico-arrow-bottom-05-pc-y: 223px;
$ico-arrow-bottom-05-pc-offset-x: -67px;
$ico-arrow-bottom-05-pc-offset-y: -223px;
$ico-arrow-bottom-05-pc-width: 23px;
$ico-arrow-bottom-05-pc-height: 13px;
$ico-arrow-bottom-05-pc-total-width: 327px;
$ico-arrow-bottom-05-pc-total-height: 314px;
$ico-arrow-bottom-05-pc-image: '/common/img/sprite.png';
$ico-arrow-bottom-05-pc: (67px, 223px, -67px, -223px, 23px, 13px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_bottom_05_pc', );
$ico-arrow-bottom-05-sp-name: 'ico_arrow_bottom_05_sp';
$ico-arrow-bottom-05-sp-x: 242px;
$ico-arrow-bottom-05-sp-y: 242px;
$ico-arrow-bottom-05-sp-offset-x: -242px;
$ico-arrow-bottom-05-sp-offset-y: -242px;
$ico-arrow-bottom-05-sp-width: 26px;
$ico-arrow-bottom-05-sp-height: 16px;
$ico-arrow-bottom-05-sp-total-width: 327px;
$ico-arrow-bottom-05-sp-total-height: 314px;
$ico-arrow-bottom-05-sp-image: '/common/img/sprite.png';
$ico-arrow-bottom-05-sp: (242px, 242px, -242px, -242px, 26px, 16px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_bottom_05_sp', );
$ico-arrow-bottom-06-sp-name: 'ico_arrow_bottom_06_sp';
$ico-arrow-bottom-06-sp-x: 205px;
$ico-arrow-bottom-06-sp-y: 242px;
$ico-arrow-bottom-06-sp-offset-x: -205px;
$ico-arrow-bottom-06-sp-offset-y: -242px;
$ico-arrow-bottom-06-sp-width: 33px;
$ico-arrow-bottom-06-sp-height: 17px;
$ico-arrow-bottom-06-sp-total-width: 327px;
$ico-arrow-bottom-06-sp-total-height: 314px;
$ico-arrow-bottom-06-sp-image: '/common/img/sprite.png';
$ico-arrow-bottom-06-sp: (205px, 242px, -205px, -242px, 33px, 17px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_bottom_06_sp', );
$ico-arrow-left-01-pc-name: 'ico_arrow_left_01_pc';
$ico-arrow-left-01-pc-x: 285px;
$ico-arrow-left-01-pc-y: 136px;
$ico-arrow-left-01-pc-offset-x: -285px;
$ico-arrow-left-01-pc-offset-y: -136px;
$ico-arrow-left-01-pc-width: 22px;
$ico-arrow-left-01-pc-height: 20px;
$ico-arrow-left-01-pc-total-width: 327px;
$ico-arrow-left-01-pc-total-height: 314px;
$ico-arrow-left-01-pc-image: '/common/img/sprite.png';
$ico-arrow-left-01-pc: (285px, 136px, -285px, -136px, 22px, 20px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_left_01_pc', );
$ico-arrow-left-01-sp-name: 'ico_arrow_left_01_sp';
$ico-arrow-left-01-sp-x: 248px;
$ico-arrow-left-01-sp-y: 34px;
$ico-arrow-left-01-sp-offset-x: -248px;
$ico-arrow-left-01-sp-offset-y: -34px;
$ico-arrow-left-01-sp-width: 33px;
$ico-arrow-left-01-sp-height: 30px;
$ico-arrow-left-01-sp-total-width: 327px;
$ico-arrow-left-01-sp-total-height: 314px;
$ico-arrow-left-01-sp-image: '/common/img/sprite.png';
$ico-arrow-left-01-sp: (248px, 34px, -248px, -34px, 33px, 30px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_left_01_sp', );
$ico-arrow-left-02-pc-name: 'ico_arrow_left_02_pc';
$ico-arrow-left-02-pc-x: 285px;
$ico-arrow-left-02-pc-y: 208px;
$ico-arrow-left-02-pc-offset-x: -285px;
$ico-arrow-left-02-pc-offset-y: -208px;
$ico-arrow-left-02-pc-width: 22px;
$ico-arrow-left-02-pc-height: 20px;
$ico-arrow-left-02-pc-total-width: 327px;
$ico-arrow-left-02-pc-total-height: 314px;
$ico-arrow-left-02-pc-image: '/common/img/sprite.png';
$ico-arrow-left-02-pc: (285px, 208px, -285px, -208px, 22px, 20px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_left_02_pc', );
$ico-arrow-left-02-sp-name: 'ico_arrow_left_02_sp';
$ico-arrow-left-02-sp-x: 80px;
$ico-arrow-left-02-sp-y: 242px;
$ico-arrow-left-02-sp-offset-x: -80px;
$ico-arrow-left-02-sp-offset-y: -242px;
$ico-arrow-left-02-sp-width: 28px;
$ico-arrow-left-02-sp-height: 26px;
$ico-arrow-left-02-sp-total-width: 327px;
$ico-arrow-left-02-sp-total-height: 314px;
$ico-arrow-left-02-sp-image: '/common/img/sprite.png';
$ico-arrow-left-02-sp: (80px, 242px, -80px, -242px, 28px, 26px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_left_02_sp', );
$ico-arrow-left-04-sp-name: 'ico_arrow_left_04_sp';
$ico-arrow-left-04-sp-x: 50px;
$ico-arrow-left-04-sp-y: 124px;
$ico-arrow-left-04-sp-offset-x: -50px;
$ico-arrow-left-04-sp-offset-y: -124px;
$ico-arrow-left-04-sp-width: 46px;
$ico-arrow-left-04-sp-height: 42px;
$ico-arrow-left-04-sp-total-width: 327px;
$ico-arrow-left-04-sp-total-height: 314px;
$ico-arrow-left-04-sp-image: '/common/img/sprite.png';
$ico-arrow-left-04-sp: (50px, 124px, -50px, -124px, 46px, 42px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_left_04_sp', );
$ico-arrow-right-01-pc-name: 'ico_arrow_right_01_pc';
$ico-arrow-right-01-pc-x: 285px;
$ico-arrow-right-01-pc-y: 184px;
$ico-arrow-right-01-pc-offset-x: -285px;
$ico-arrow-right-01-pc-offset-y: -184px;
$ico-arrow-right-01-pc-width: 22px;
$ico-arrow-right-01-pc-height: 20px;
$ico-arrow-right-01-pc-total-width: 327px;
$ico-arrow-right-01-pc-total-height: 314px;
$ico-arrow-right-01-pc-image: '/common/img/sprite.png';
$ico-arrow-right-01-pc: (285px, 184px, -285px, -184px, 22px, 20px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_right_01_pc', );
$ico-arrow-right-01-sp-name: 'ico_arrow_right_01_sp';
$ico-arrow-right-01-sp-x: 248px;
$ico-arrow-right-01-sp-y: 0px;
$ico-arrow-right-01-sp-offset-x: -248px;
$ico-arrow-right-01-sp-offset-y: 0px;
$ico-arrow-right-01-sp-width: 33px;
$ico-arrow-right-01-sp-height: 30px;
$ico-arrow-right-01-sp-total-width: 327px;
$ico-arrow-right-01-sp-total-height: 314px;
$ico-arrow-right-01-sp-image: '/common/img/sprite.png';
$ico-arrow-right-01-sp: (248px, 0px, -248px, 0px, 33px, 30px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_right_01_sp', );
$ico-arrow-right-02-pc-name: 'ico_arrow_right_02_pc';
$ico-arrow-right-02-pc-x: 285px;
$ico-arrow-right-02-pc-y: 160px;
$ico-arrow-right-02-pc-offset-x: -285px;
$ico-arrow-right-02-pc-offset-y: -160px;
$ico-arrow-right-02-pc-width: 22px;
$ico-arrow-right-02-pc-height: 20px;
$ico-arrow-right-02-pc-total-width: 327px;
$ico-arrow-right-02-pc-total-height: 314px;
$ico-arrow-right-02-pc-image: '/common/img/sprite.png';
$ico-arrow-right-02-pc: (285px, 160px, -285px, -160px, 22px, 20px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_right_02_pc', );
$ico-arrow-right-02-sp-name: 'ico_arrow_right_02_sp';
$ico-arrow-right-02-sp-x: 112px;
$ico-arrow-right-02-sp-y: 242px;
$ico-arrow-right-02-sp-offset-x: -112px;
$ico-arrow-right-02-sp-offset-y: -242px;
$ico-arrow-right-02-sp-width: 28px;
$ico-arrow-right-02-sp-height: 26px;
$ico-arrow-right-02-sp-total-width: 327px;
$ico-arrow-right-02-sp-total-height: 314px;
$ico-arrow-right-02-sp-image: '/common/img/sprite.png';
$ico-arrow-right-02-sp: (112px, 242px, -112px, -242px, 28px, 26px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_right_02_sp', );
$ico-arrow-right-03-sp-name: 'ico_arrow_right_03_sp';
$ico-arrow-right-03-sp-x: 128px;
$ico-arrow-right-03-sp-y: 170px;
$ico-arrow-right-03-sp-offset-x: -128px;
$ico-arrow-right-03-sp-offset-y: -170px;
$ico-arrow-right-03-sp-width: 34px;
$ico-arrow-right-03-sp-height: 30px;
$ico-arrow-right-03-sp-total-width: 327px;
$ico-arrow-right-03-sp-total-height: 314px;
$ico-arrow-right-03-sp-image: '/common/img/sprite.png';
$ico-arrow-right-03-sp: (128px, 170px, -128px, -170px, 34px, 30px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_right_03_sp', );
$ico-arrow-right-04-sp-name: 'ico_arrow_right_04_sp';
$ico-arrow-right-04-sp-x: 148px;
$ico-arrow-right-04-sp-y: 52px;
$ico-arrow-right-04-sp-offset-x: -148px;
$ico-arrow-right-04-sp-offset-y: -52px;
$ico-arrow-right-04-sp-width: 46px;
$ico-arrow-right-04-sp-height: 42px;
$ico-arrow-right-04-sp-total-width: 327px;
$ico-arrow-right-04-sp-total-height: 314px;
$ico-arrow-right-04-sp-image: '/common/img/sprite.png';
$ico-arrow-right-04-sp: (148px, 52px, -148px, -52px, 46px, 42px, 327px, 314px, '/common/img/sprite.png', 'ico_arrow_right_04_sp', );
$ico-building-01-pc-name: 'ico_building_01_pc';
$ico-building-01-pc-x: 86px;
$ico-building-01-pc-y: 44px;
$ico-building-01-pc-offset-x: -86px;
$ico-building-01-pc-offset-y: -44px;
$ico-building-01-pc-width: 32px;
$ico-building-01-pc-height: 24px;
$ico-building-01-pc-total-width: 327px;
$ico-building-01-pc-total-height: 314px;
$ico-building-01-pc-image: '/common/img/sprite.png';
$ico-building-01-pc: (86px, 44px, -86px, -44px, 32px, 24px, 327px, 314px, '/common/img/sprite.png', 'ico_building_01_pc', );
$ico-building-01-sp-name: 'ico_building_01_sp';
$ico-building-01-sp-x: 100px;
$ico-building-01-sp-y: 124px;
$ico-building-01-sp-offset-x: -100px;
$ico-building-01-sp-offset-y: -124px;
$ico-building-01-sp-width: 48px;
$ico-building-01-sp-height: 36px;
$ico-building-01-sp-total-width: 327px;
$ico-building-01-sp-total-height: 314px;
$ico-building-01-sp-image: '/common/img/sprite.png';
$ico-building-01-sp: (100px, 124px, -100px, -124px, 48px, 36px, 327px, 314px, '/common/img/sprite.png', 'ico_building_01_sp', );
$ico-building-02-pc-name: 'ico_building_02_pc';
$ico-building-02-pc-x: 30px;
$ico-building-02-pc-y: 272px;
$ico-building-02-pc-offset-x: -30px;
$ico-building-02-pc-offset-y: -272px;
$ico-building-02-pc-width: 23px;
$ico-building-02-pc-height: 17px;
$ico-building-02-pc-total-width: 327px;
$ico-building-02-pc-total-height: 314px;
$ico-building-02-pc-image: '/common/img/sprite.png';
$ico-building-02-pc: (30px, 272px, -30px, -272px, 23px, 17px, 327px, 314px, '/common/img/sprite.png', 'ico_building_02_pc', );
$ico-building-04-pc-name: 'ico_building_04_pc';
$ico-building-04-pc-x: 0px;
$ico-building-04-pc-y: 242px;
$ico-building-04-pc-offset-x: 0px;
$ico-building-04-pc-offset-y: -242px;
$ico-building-04-pc-width: 36px;
$ico-building-04-pc-height: 26px;
$ico-building-04-pc-total-width: 327px;
$ico-building-04-pc-total-height: 314px;
$ico-building-04-pc-image: '/common/img/sprite.png';
$ico-building-04-pc: (0px, 242px, 0px, -242px, 36px, 26px, 327px, 314px, '/common/img/sprite.png', 'ico_building_04_pc', );
$ico-cursor-name: 'ico_cursor';
$ico-cursor-x: 0px;
$ico-cursor-y: 223px;
$ico-cursor-offset-x: 0px;
$ico-cursor-offset-y: -223px;
$ico-cursor-width: 63px;
$ico-cursor-height: 15px;
$ico-cursor-total-width: 327px;
$ico-cursor-total-height: 314px;
$ico-cursor-image: '/common/img/sprite.png';
$ico-cursor: (0px, 223px, 0px, -223px, 63px, 15px, 327px, 314px, '/common/img/sprite.png', 'ico_cursor', );
$ico-footer-doc-2x-name: 'ico_footer_doc@2x';
$ico-footer-doc-2x-x: 148px;
$ico-footer-doc-2x-y: 0px;
$ico-footer-doc-2x-offset-x: -148px;
$ico-footer-doc-2x-offset-y: 0px;
$ico-footer-doc-2x-width: 48px;
$ico-footer-doc-2x-height: 48px;
$ico-footer-doc-2x-total-width: 327px;
$ico-footer-doc-2x-total-height: 314px;
$ico-footer-doc-2x-image: '/common/img/sprite.png';
$ico-footer-doc-2x: (148px, 0px, -148px, 0px, 48px, 48px, 327px, 314px, '/common/img/sprite.png', 'ico_footer_doc@2x', );
$ico-footer-mail-2x-name: 'ico_footer_mail@2x';
$ico-footer-mail-2x-x: 52px;
$ico-footer-mail-2x-y: 72px;
$ico-footer-mail-2x-offset-x: -52px;
$ico-footer-mail-2x-offset-y: -72px;
$ico-footer-mail-2x-width: 48px;
$ico-footer-mail-2x-height: 48px;
$ico-footer-mail-2x-total-width: 327px;
$ico-footer-mail-2x-total-height: 314px;
$ico-footer-mail-2x-image: '/common/img/sprite.png';
$ico-footer-mail-2x: (52px, 72px, -52px, -72px, 48px, 48px, 327px, 314px, '/common/img/sprite.png', 'ico_footer_mail@2x', );
$ico-gnav-ar-d-name: 'ico_gnav_ar_d';
$ico-gnav-ar-d-x: 313px;
$ico-gnav-ar-d-y: 89px;
$ico-gnav-ar-d-offset-x: -313px;
$ico-gnav-ar-d-offset-y: -89px;
$ico-gnav-ar-d-width: 12px;
$ico-gnav-ar-d-height: 8px;
$ico-gnav-ar-d-total-width: 327px;
$ico-gnav-ar-d-total-height: 314px;
$ico-gnav-ar-d-image: '/common/img/sprite.png';
$ico-gnav-ar-d: (313px, 89px, -313px, -89px, 12px, 8px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_ar_d', );
$ico-gnav-close-2x-name: 'ico_gnav_close@2x';
$ico-gnav-close-2x-x: 285px;
$ico-gnav-close-2x-y: 56px;
$ico-gnav-close-2x-offset-x: -285px;
$ico-gnav-close-2x-offset-y: -56px;
$ico-gnav-close-2x-width: 24px;
$ico-gnav-close-2x-height: 24px;
$ico-gnav-close-2x-total-width: 327px;
$ico-gnav-close-2x-total-height: 314px;
$ico-gnav-close-2x-image: '/common/img/sprite.png';
$ico-gnav-close-2x: (285px, 56px, -285px, -56px, 24px, 24px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_close@2x', );
$ico-gnav-doc-name: 'ico_gnav_doc';
$ico-gnav-doc-x: 285px;
$ico-gnav-doc-y: 232px;
$ico-gnav-doc-offset-x: -285px;
$ico-gnav-doc-offset-y: -232px;
$ico-gnav-doc-width: 18px;
$ico-gnav-doc-height: 24px;
$ico-gnav-doc-total-width: 327px;
$ico-gnav-doc-total-height: 314px;
$ico-gnav-doc-image: '/common/img/sprite.png';
$ico-gnav-doc: (285px, 232px, -285px, -232px, 18px, 24px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_doc', );
$ico-gnav-doc-2x-name: 'ico_gnav_doc@2x';
$ico-gnav-doc-2x-x: 94px;
$ico-gnav-doc-2x-y: 170px;
$ico-gnav-doc-2x-offset-x: -94px;
$ico-gnav-doc-2x-offset-y: -170px;
$ico-gnav-doc-2x-width: 30px;
$ico-gnav-doc-2x-height: 38px;
$ico-gnav-doc-2x-total-width: 327px;
$ico-gnav-doc-2x-total-height: 314px;
$ico-gnav-doc-2x-image: '/common/img/sprite.png';
$ico-gnav-doc-2x: (94px, 170px, -94px, -170px, 30px, 38px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_doc@2x', );
$ico-gnav-event-name: 'ico_gnav_event';
$ico-gnav-event-x: 40px;
$ico-gnav-event-y: 242px;
$ico-gnav-event-offset-x: -40px;
$ico-gnav-event-offset-y: -242px;
$ico-gnav-event-width: 36px;
$ico-gnav-event-height: 26px;
$ico-gnav-event-total-width: 327px;
$ico-gnav-event-total-height: 314px;
$ico-gnav-event-image: '/common/img/sprite.png';
$ico-gnav-event: (40px, 242px, -40px, -242px, 36px, 26px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_event', );
$ico-gnav-event-2x-name: 'ico_gnav_event@2x';
$ico-gnav-event-2x-x: 86px;
$ico-gnav-event-2x-y: 0px;
$ico-gnav-event-2x-offset-x: -86px;
$ico-gnav-event-2x-offset-y: 0px;
$ico-gnav-event-2x-width: 58px;
$ico-gnav-event-2x-height: 40px;
$ico-gnav-event-2x-total-width: 327px;
$ico-gnav-event-2x-total-height: 314px;
$ico-gnav-event-2x-image: '/common/img/sprite.png';
$ico-gnav-event-2x: (86px, 0px, -86px, 0px, 58px, 40px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_event@2x', );
$ico-gnav-fun-name: 'ico_gnav_fun';
$ico-gnav-fun-x: 57px;
$ico-gnav-fun-y: 272px;
$ico-gnav-fun-offset-x: -57px;
$ico-gnav-fun-offset-y: -272px;
$ico-gnav-fun-width: 24px;
$ico-gnav-fun-height: 16px;
$ico-gnav-fun-total-width: 327px;
$ico-gnav-fun-total-height: 314px;
$ico-gnav-fun-image: '/common/img/sprite.png';
$ico-gnav-fun: (57px, 272px, -57px, -272px, 24px, 16px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_fun', );
$ico-gnav-fun-2x-name: 'ico_gnav_fun@2x';
$ico-gnav-fun-2x-x: 206px;
$ico-gnav-fun-2x-y: 170px;
$ico-gnav-fun-2x-offset-x: -206px;
$ico-gnav-fun-2x-offset-y: -170px;
$ico-gnav-fun-2x-width: 38px;
$ico-gnav-fun-2x-height: 26px;
$ico-gnav-fun-2x-total-width: 327px;
$ico-gnav-fun-2x-total-height: 314px;
$ico-gnav-fun-2x-image: '/common/img/sprite.png';
$ico-gnav-fun-2x: (206px, 170px, -206px, -170px, 38px, 26px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_fun@2x', );
$ico-gnav-open-2x-name: 'ico_gnav_open@2x';
$ico-gnav-open-2x-x: 285px;
$ico-gnav-open-2x-y: 28px;
$ico-gnav-open-2x-offset-x: -285px;
$ico-gnav-open-2x-offset-y: -28px;
$ico-gnav-open-2x-width: 24px;
$ico-gnav-open-2x-height: 24px;
$ico-gnav-open-2x-total-width: 327px;
$ico-gnav-open-2x-total-height: 314px;
$ico-gnav-open-2x-image: '/common/img/sprite.png';
$ico-gnav-open-2x: (285px, 28px, -285px, -28px, 24px, 24px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_open@2x', );
$ico-gnav-search-name: 'ico_gnav_search';
$ico-gnav-search-x: 248px;
$ico-gnav-search-y: 192px;
$ico-gnav-search-offset-x: -248px;
$ico-gnav-search-offset-y: -192px;
$ico-gnav-search-width: 30px;
$ico-gnav-search-height: 26px;
$ico-gnav-search-total-width: 327px;
$ico-gnav-search-total-height: 314px;
$ico-gnav-search-image: '/common/img/sprite.png';
$ico-gnav-search: (248px, 192px, -248px, -192px, 30px, 26px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_search', );
$ico-gnav-search-2x-name: 'ico_gnav_search@2x';
$ico-gnav-search-2x-x: 0px;
$ico-gnav-search-2x-y: 124px;
$ico-gnav-search-2x-offset-x: 0px;
$ico-gnav-search-2x-offset-y: -124px;
$ico-gnav-search-2x-width: 46px;
$ico-gnav-search-2x-height: 42px;
$ico-gnav-search-2x-total-width: 327px;
$ico-gnav-search-2x-total-height: 314px;
$ico-gnav-search-2x-image: '/common/img/sprite.png';
$ico-gnav-search-2x: (0px, 124px, 0px, -124px, 46px, 42px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_search@2x', );
$ico-gnav-shop-name: 'ico_gnav_shop';
$ico-gnav-shop-x: 144px;
$ico-gnav-shop-y: 242px;
$ico-gnav-shop-offset-x: -144px;
$ico-gnav-shop-offset-y: -242px;
$ico-gnav-shop-width: 26px;
$ico-gnav-shop-height: 24px;
$ico-gnav-shop-total-width: 327px;
$ico-gnav-shop-total-height: 314px;
$ico-gnav-shop-image: '/common/img/sprite.png';
$ico-gnav-shop: (144px, 242px, -144px, -242px, 26px, 24px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_shop', );
$ico-gnav-shop-2x-name: 'ico_gnav_shop@2x';
$ico-gnav-shop-2x-x: 200px;
$ico-gnav-shop-2x-y: 0px;
$ico-gnav-shop-2x-offset-x: -200px;
$ico-gnav-shop-2x-offset-y: 0px;
$ico-gnav-shop-2x-width: 44px;
$ico-gnav-shop-2x-height: 38px;
$ico-gnav-shop-2x-total-width: 327px;
$ico-gnav-shop-2x-total-height: 314px;
$ico-gnav-shop-2x-image: '/common/img/sprite.png';
$ico-gnav-shop-2x: (200px, 0px, -200px, 0px, 44px, 38px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_shop@2x', );
$ico-gnav-zine-name: 'ico_gnav_zine';
$ico-gnav-zine-x: 148px;
$ico-gnav-zine-y: 98px;
$ico-gnav-zine-offset-x: -148px;
$ico-gnav-zine-offset-y: -98px;
$ico-gnav-zine-width: 28px;
$ico-gnav-zine-height: 22px;
$ico-gnav-zine-total-width: 327px;
$ico-gnav-zine-total-height: 314px;
$ico-gnav-zine-image: '/common/img/sprite.png';
$ico-gnav-zine: (148px, 98px, -148px, -98px, 28px, 22px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_zine', );
$ico-gnav-zine-2x-name: 'ico_gnav_zine@2x';
$ico-gnav-zine-2x-x: 200px;
$ico-gnav-zine-2x-y: 42px;
$ico-gnav-zine-2x-offset-x: -200px;
$ico-gnav-zine-2x-offset-y: -42px;
$ico-gnav-zine-2x-width: 44px;
$ico-gnav-zine-2x-height: 36px;
$ico-gnav-zine-2x-total-width: 327px;
$ico-gnav-zine-2x-total-height: 314px;
$ico-gnav-zine-2x-image: '/common/img/sprite.png';
$ico-gnav-zine-2x: (200px, 42px, -200px, -42px, 44px, 36px, 327px, 314px, '/common/img/sprite.png', 'ico_gnav_zine@2x', );
$ico-house-02-pc-name: 'ico_house_02_pc';
$ico-house-02-pc-x: 180px;
$ico-house-02-pc-y: 98px;
$ico-house-02-pc-offset-x: -180px;
$ico-house-02-pc-offset-y: -98px;
$ico-house-02-pc-width: 16px;
$ico-house-02-pc-height: 15px;
$ico-house-02-pc-total-width: 327px;
$ico-house-02-pc-total-height: 314px;
$ico-house-02-pc-image: '/common/img/sprite.png';
$ico-house-02-pc: (180px, 98px, -180px, -98px, 16px, 15px, 327px, 314px, '/common/img/sprite.png', 'ico_house_02_pc', );
$ico-house-02-sp-name: 'ico_house_02_sp';
$ico-house-02-sp-x: 152px;
$ico-house-02-sp-y: 124px;
$ico-house-02-sp-offset-x: -152px;
$ico-house-02-sp-offset-y: -124px;
$ico-house-02-sp-width: 36px;
$ico-house-02-sp-height: 32px;
$ico-house-02-sp-total-width: 327px;
$ico-house-02-sp-total-height: 314px;
$ico-house-02-sp-image: '/common/img/sprite.png';
$ico-house-02-sp: (152px, 124px, -152px, -124px, 36px, 32px, 327px, 314px, '/common/img/sprite.png', 'ico_house_02_sp', );
$ico-house-03-pc-name: 'ico_house_03_pc';
$ico-house-03-pc-x: 248px;
$ico-house-03-pc-y: 160px;
$ico-house-03-pc-offset-x: -248px;
$ico-house-03-pc-offset-y: -160px;
$ico-house-03-pc-width: 30px;
$ico-house-03-pc-height: 28px;
$ico-house-03-pc-total-width: 327px;
$ico-house-03-pc-total-height: 314px;
$ico-house-03-pc-image: '/common/img/sprite.png';
$ico-house-03-pc: (248px, 160px, -248px, -160px, 30px, 28px, 327px, 314px, '/common/img/sprite.png', 'ico_house_03_pc', );
$ico-mail-green-pc-name: 'ico_mail_green_pc';
$ico-mail-green-pc-x: 0px;
$ico-mail-green-pc-y: 272px;
$ico-mail-green-pc-offset-x: 0px;
$ico-mail-green-pc-offset-y: -272px;
$ico-mail-green-pc-width: 26px;
$ico-mail-green-pc-height: 20px;
$ico-mail-green-pc-total-width: 327px;
$ico-mail-green-pc-total-height: 314px;
$ico-mail-green-pc-image: '/common/img/sprite.png';
$ico-mail-green-pc: (0px, 272px, 0px, -272px, 26px, 20px, 327px, 314px, '/common/img/sprite.png', 'ico_mail_green_pc', );
$ico-mail-green-sp-name: 'ico_mail_green_sp';
$ico-mail-green-sp-x: 166px;
$ico-mail-green-sp-y: 170px;
$ico-mail-green-sp-offset-x: -166px;
$ico-mail-green-sp-offset-y: -170px;
$ico-mail-green-sp-width: 36px;
$ico-mail-green-sp-height: 28px;
$ico-mail-green-sp-total-width: 327px;
$ico-mail-green-sp-total-height: 314px;
$ico-mail-green-sp-image: '/common/img/sprite.png';
$ico-mail-green-sp: (166px, 170px, -166px, -170px, 36px, 28px, 327px, 314px, '/common/img/sprite.png', 'ico_mail_green_sp', );
$ico-renovation-01-pc-name: 'ico_renovation_01_pc';
$ico-renovation-01-pc-x: 174px;
$ico-renovation-01-pc-y: 242px;
$ico-renovation-01-pc-offset-x: -174px;
$ico-renovation-01-pc-offset-y: -242px;
$ico-renovation-01-pc-width: 27px;
$ico-renovation-01-pc-height: 23px;
$ico-renovation-01-pc-total-width: 327px;
$ico-renovation-01-pc-total-height: 314px;
$ico-renovation-01-pc-image: '/common/img/sprite.png';
$ico-renovation-01-pc: (174px, 242px, -174px, -242px, 27px, 23px, 327px, 314px, '/common/img/sprite.png', 'ico_renovation_01_pc', );
$ico-renovation-01-sp-name: 'ico_renovation_01_sp';
$ico-renovation-01-sp-x: 200px;
$ico-renovation-01-sp-y: 124px;
$ico-renovation-01-sp-offset-x: -200px;
$ico-renovation-01-sp-offset-y: -124px;
$ico-renovation-01-sp-width: 41px;
$ico-renovation-01-sp-height: 35px;
$ico-renovation-01-sp-total-width: 327px;
$ico-renovation-01-sp-total-height: 314px;
$ico-renovation-01-sp-image: '/common/img/sprite.png';
$ico-renovation-01-sp: (200px, 124px, -200px, -124px, 41px, 35px, 327px, 314px, '/common/img/sprite.png', 'ico_renovation_01_sp', );
$ico-renovation-02-pc-name: 'ico_renovation_02_pc';
$ico-renovation-02-pc-x: 113px;
$ico-renovation-02-pc-y: 272px;
$ico-renovation-02-pc-offset-x: -113px;
$ico-renovation-02-pc-offset-y: -272px;
$ico-renovation-02-pc-width: 16px;
$ico-renovation-02-pc-height: 14px;
$ico-renovation-02-pc-total-width: 327px;
$ico-renovation-02-pc-total-height: 314px;
$ico-renovation-02-pc-image: '/common/img/sprite.png';
$ico-renovation-02-pc: (113px, 272px, -113px, -272px, 16px, 14px, 327px, 314px, '/common/img/sprite.png', 'ico_renovation_02_pc', );
$ico-reset-01-pc-name: 'ico_reset_01_pc';
$ico-reset-01-pc-x: 313px;
$ico-reset-01-pc-y: 30px;
$ico-reset-01-pc-offset-x: -313px;
$ico-reset-01-pc-offset-y: -30px;
$ico-reset-01-pc-width: 14px;
$ico-reset-01-pc-height: 18px;
$ico-reset-01-pc-total-width: 327px;
$ico-reset-01-pc-total-height: 314px;
$ico-reset-01-pc-image: '/common/img/sprite.png';
$ico-reset-01-pc: (313px, 30px, -313px, -30px, 14px, 18px, 327px, 314px, '/common/img/sprite.png', 'ico_reset_01_pc', );
$ico-reset-01-sp-name: 'ico_reset_01_sp';
$ico-reset-01-sp-x: 58px;
$ico-reset-01-sp-y: 170px;
$ico-reset-01-sp-offset-x: -58px;
$ico-reset-01-sp-offset-y: -170px;
$ico-reset-01-sp-width: 32px;
$ico-reset-01-sp-height: 38px;
$ico-reset-01-sp-total-width: 327px;
$ico-reset-01-sp-total-height: 314px;
$ico-reset-01-sp-image: '/common/img/sprite.png';
$ico-reset-01-sp: (58px, 170px, -58px, -170px, 32px, 38px, 327px, 314px, '/common/img/sprite.png', 'ico_reset_01_sp', );
$ico-search-01-pc-name: 'ico_search_01_pc';
$ico-search-01-pc-x: 122px;
$ico-search-01-pc-y: 44px;
$ico-search-01-pc-offset-x: -122px;
$ico-search-01-pc-offset-y: -44px;
$ico-search-01-pc-width: 18px;
$ico-search-01-pc-height: 18px;
$ico-search-01-pc-total-width: 327px;
$ico-search-01-pc-total-height: 314px;
$ico-search-01-pc-image: '/common/img/sprite.png';
$ico-search-01-pc: (122px, 44px, -122px, -44px, 18px, 18px, 327px, 314px, '/common/img/sprite.png', 'ico_search_01_pc', );
$ico-search-01-sp-name: 'ico_search_01_sp';
$ico-search-01-sp-x: 285px;
$ico-search-01-sp-y: 0px;
$ico-search-01-sp-offset-x: -285px;
$ico-search-01-sp-offset-y: 0px;
$ico-search-01-sp-width: 24px;
$ico-search-01-sp-height: 24px;
$ico-search-01-sp-total-width: 327px;
$ico-search-01-sp-total-height: 314px;
$ico-search-01-sp-image: '/common/img/sprite.png';
$ico-search-01-sp: (285px, 0px, -285px, 0px, 24px, 24px, 327px, 314px, '/common/img/sprite.png', 'ico_search_01_sp', );
$ico-search-02-pc-name: 'ico_search_02_pc';
$ico-search-02-pc-x: 0px;
$ico-search-02-pc-y: 296px;
$ico-search-02-pc-offset-x: 0px;
$ico-search-02-pc-offset-y: -296px;
$ico-search-02-pc-width: 18px;
$ico-search-02-pc-height: 18px;
$ico-search-02-pc-total-width: 327px;
$ico-search-02-pc-total-height: 314px;
$ico-search-02-pc-image: '/common/img/sprite.png';
$ico-search-02-pc: (0px, 296px, 0px, -296px, 18px, 18px, 327px, 314px, '/common/img/sprite.png', 'ico_search_02_pc', );
$ico-search-02-sp-name: 'ico_search_02_sp';
$ico-search-02-sp-x: 200px;
$ico-search-02-sp-y: 82px;
$ico-search-02-sp-offset-x: -200px;
$ico-search-02-sp-offset-y: -82px;
$ico-search-02-sp-width: 38px;
$ico-search-02-sp-height: 38px;
$ico-search-02-sp-total-width: 327px;
$ico-search-02-sp-total-height: 314px;
$ico-search-02-sp-image: '/common/img/sprite.png';
$ico-search-02-sp: (200px, 82px, -200px, -82px, 38px, 38px, 327px, 314px, '/common/img/sprite.png', 'ico_search_02_sp', );
$ico-search-03-pc-name: 'ico_search_03_pc';
$ico-search-03-pc-x: 285px;
$ico-search-03-pc-y: 110px;
$ico-search-03-pc-offset-x: -285px;
$ico-search-03-pc-offset-y: -110px;
$ico-search-03-pc-width: 24px;
$ico-search-03-pc-height: 22px;
$ico-search-03-pc-total-width: 327px;
$ico-search-03-pc-total-height: 314px;
$ico-search-03-pc-image: '/common/img/sprite.png';
$ico-search-03-pc: (285px, 110px, -285px, -110px, 24px, 22px, 327px, 314px, '/common/img/sprite.png', 'ico_search_03_pc', );
$ico-search-03-sp-name: 'ico_search_03_sp';
$ico-search-03-sp-x: 104px;
$ico-search-03-sp-y: 72px;
$ico-search-03-sp-offset-x: -104px;
$ico-search-03-sp-offset-y: -72px;
$ico-search-03-sp-width: 38px;
$ico-search-03-sp-height: 36px;
$ico-search-03-sp-total-width: 327px;
$ico-search-03-sp-total-height: 314px;
$ico-search-03-sp-image: '/common/img/sprite.png';
$ico-search-03-sp: (104px, 72px, -104px, -72px, 38px, 36px, 327px, 314px, '/common/img/sprite.png', 'ico_search_03_sp', );
$ico-search-small-sp-name: 'ico_search_small_sp';
$ico-search-small-sp-x: 285px;
$ico-search-small-sp-y: 84px;
$ico-search-small-sp-offset-x: -285px;
$ico-search-small-sp-offset-y: -84px;
$ico-search-small-sp-width: 24px;
$ico-search-small-sp-height: 22px;
$ico-search-small-sp-total-width: 327px;
$ico-search-small-sp-total-height: 314px;
$ico-search-small-sp-image: '/common/img/sprite.png';
$ico-search-small-sp: (285px, 84px, -285px, -84px, 24px, 22px, 327px, 314px, '/common/img/sprite.png', 'ico_search_small_sp', );
$ico-studio-01-name: 'ico_studio_01';
$ico-studio-01-x: 0px;
$ico-studio-01-y: 72px;
$ico-studio-01-offset-x: 0px;
$ico-studio-01-offset-y: -72px;
$ico-studio-01-width: 48px;
$ico-studio-01-height: 48px;
$ico-studio-01-total-width: 327px;
$ico-studio-01-total-height: 314px;
$ico-studio-01-image: '/common/img/sprite.png';
$ico-studio-01: (0px, 72px, 0px, -72px, 48px, 48px, 327px, 314px, '/common/img/sprite.png', 'ico_studio_01', );
$spritesheet-width: 327px;
$spritesheet-height: 314px;
$spritesheet-image: '/common/img/sprite.png';
$spritesheet-sprites: ($btn-footer-pagetop, $btn-footer-pagetop-2x, $btn-slider-left, $btn-slider-left-01-sp, $btn-slider-right, $btn-slider-right-01-sp, $ico-ar-r-bk-12x20-2x, $ico-ar-r-bk-14x26-2x, $ico-arrow-bottom-03-pc, $ico-arrow-bottom-03-sp, $ico-arrow-bottom-04-pc, $ico-arrow-bottom-04-sp, $ico-arrow-bottom-05-pc, $ico-arrow-bottom-05-sp, $ico-arrow-bottom-06-sp, $ico-arrow-left-01-pc, $ico-arrow-left-01-sp, $ico-arrow-left-02-pc, $ico-arrow-left-02-sp, $ico-arrow-left-04-sp, $ico-arrow-right-01-pc, $ico-arrow-right-01-sp, $ico-arrow-right-02-pc, $ico-arrow-right-02-sp, $ico-arrow-right-03-sp, $ico-arrow-right-04-sp, $ico-building-01-pc, $ico-building-01-sp, $ico-building-02-pc, $ico-building-04-pc, $ico-cursor, $ico-footer-doc-2x, $ico-footer-mail-2x, $ico-gnav-ar-d, $ico-gnav-close-2x, $ico-gnav-doc, $ico-gnav-doc-2x, $ico-gnav-event, $ico-gnav-event-2x, $ico-gnav-fun, $ico-gnav-fun-2x, $ico-gnav-open-2x, $ico-gnav-search, $ico-gnav-search-2x, $ico-gnav-shop, $ico-gnav-shop-2x, $ico-gnav-zine, $ico-gnav-zine-2x, $ico-house-02-pc, $ico-house-02-sp, $ico-house-03-pc, $ico-mail-green-pc, $ico-mail-green-sp, $ico-renovation-01-pc, $ico-renovation-01-sp, $ico-renovation-02-pc, $ico-reset-01-pc, $ico-reset-01-sp, $ico-search-01-pc, $ico-search-01-sp, $ico-search-02-pc, $ico-search-02-sp, $ico-search-03-pc, $ico-search-03-sp, $ico-search-small-sp, $ico-studio-01, );
$spritesheet: (327px, 314px, '/common/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
