@charset "utf-8";

// 変数を設定するファイル

// font-family
$family-base: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
//$family-base-serif: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "游明朝体", "Yu Mincho", YuMincho, serif;
$web-font-01: 'Encode Sans Semi Condensed', sans-serif;

// font-size
$font-size-base-pc: 14px;
$font-size-base-sp: 14px;
$font-size-: 10px;

// line-height
$line-base-pc: 1.5;
$line-base-sp: 1.5;
$line-text: 1.75;
$line-none: 1.05;

// color
//$color-primary: ;
//$color-secondary: ;
//$color-link: ;
//$color-disabled: ;
//$color-warning: ;
//$color-error: ;

// color text
$color-text-primary: #252525;
$color-link-text: #252525;
//$color-disabled-text: ;

// bg
//$bg-color-primary: ;
//$bg-color-secondary ;
//$bg-image-primary: ;
//$bg-image-secondary: ;

// width
$width-contents: 1140px;
$width-contents-large: 1400px;
$width-min-contents: 1000px;
$width-contents-in: 880px;

//Break Point Size
$break-point: 768px;

// margin
//$margin-contents-ssize:

// grid margin
$grid-margin-pc: 20px;
$grid-margin-sp: 10px;

// grid width
$grid-width-1: 8.33333333%;
$grid-width-1-5: 14.2857143%;
$grid-width-2: 16.66666667%;
$grid-width-2-5: 20%;
$grid-width-3: 25%;
$grid-width-4: 33.33333333%;
$grid-width-5: 41.66666667%;
$grid-width-6: 50%;
$grid-width-7: 58.33333333%;
$grid-width-8: 66.66666667%;
$grid-width-9: 75%;
$grid-width-10: 83.33333333%;
$grid-width-11: 83.33333333%;
$grid-width-12: 100%;

$grid-width-main: 700px;
$grid-width-sub: 300px;

// ico
$ico-width-sp: 10px;
$ico-height-sp: 10px;
$ico-width-pc: 10px;
$ico-height-pc: 10px;

//opacity
$opacity-base: 0.7;