@charset "utf-8";

@import "../../../common/base/variable";
@import "../../../common/base/mixin";

/* =========================================================
base
========================================================= */
body {
  opacity: 0;
  min-width: 1075px;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.visual {
  height: 623px;
  background: url(/brand/am6/interview/02/images/visual.png) center center no-repeat;
  position: relative;
  @include mq-sp() {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-top: 97.8%;
    background: url(/brand/am6/interview/02/images/sp/visual.png) center center no-repeat #fcf4ed;
    background-size: cover;
  }
}

.visual .text {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -550px;
  text-align: left;
  @include mq-sp() {
    top: 25px;
    left: 20px;
    margin-left: 0;
  }  
}

.visual .text .num {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  @include mq-sp() {
    margin-bottom: 16px;
    font-size: 12px;
  } 
}

.visual .text .num img {
  margin-bottom: 20px;
  @include mq-sp() {
    width: 30px;
    height: 27px;
    margin-bottom: 0;
  }     
}

.visual .text h1 {
  font-size: 34px;
  margin-bottom: 40px;
  @include mq-sp() {
    margin-bottom: 6px;
    font-size: 17px;
    line-height: 1.76;
    letter-spacing: .05em;
  }  
}

.visual .text p {
  font-size: 20px;
  @include mq-sp() {
    font-size: 12px;
  }  
}

.visual .text p  img {
  vertical-align: middle;
  margin-left: 10px;
  @include mq-sp() {
    width: 9px;
    height: auto;
    margin: 0 2px;
  }   
}

.visual .text p span {
  font-size: 13px;
  @include mq-sp() {
    font-size: 11px;
  }  
}

/* =========================================================
container
========================================================= */
#container {
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 150px;
  color: #111;
  @include mq-sp() {
    padding-top: 30px;
  }
  div {
    box-sizing: initial;
    @include mq-sp() {
      box-sizing: border-box;
    }
  }
}

/* =========================================================
leadArea
========================================================= */
#container #leadArea {
  padding-bottom: 150px;
  @include mq-sp() {
    padding-bottom: 10px;
  }   
}

#container #leadArea .wrap {
  width:820px;
  margin: 0 auto;
  text-align: center;
  @include mq-sp() {
    width: 100%;
    padding: 0 15px;
  }  
}

#container #leadArea .wrap .text h2 {
  margin-bottom: 50px;
  @include mq-sp() {
    margin-bottom: 18px;
    font-size: 19px;
    text-align: left;
  }
}

#container #leadArea .wrap .text p {
  font-weight: 700;
  color:#000;
  @include mq-sp() {
    font-size: 13px;
    text-align: left;
    line-height: 1.76;
  }

}

/* =========================================================
TextArea
========================================================= */
#container .TextArea h2 {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: normal;
  @include mq-sp() {
  font-size: 19px;
  margin-bottom: 16px;
  line-height: 1.8;
 } 
}

#container .TextArea p {
  margin-bottom: 25px;
  line-height: 1.9;
  color: #555555;
  @include mq-sp() {
    font-size: 13px;
    line-height: 1.76;
  }  
}

#container .TextArea p .name {
  font-weight: 700;
  color: #000;
}

/* =========================================================
TextArea01
========================================================= */
#container #TextArea01 {
  background: url(/brand/am6/interview/02/images/img_01.png) center top no-repeat;
  background-size: cover;
  height: 520px;
  position: relative;
  width: 100%;
  display: table;
  @include mq-sp() {
    height: 165px;
  }    
}

#container #TextArea01 .wrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#container #TextArea01 .wrap .text h2 {
  display: inline-block;
  color: #FFF;
}

#container #TextArea01 .wrap .text .text01 {
  font-weight: 700;
}


/* =========================================================
TextArea02
========================================================= */
#container #TextArea02 {
  padding: 100px 0 100px;
  @include mq-sp() {
    padding: 30px 0 15px;
  }     
}

#container #TextArea02 .wrap {
  width: 820px;
  margin:0 auto;
  @include mq-sp() {
    width: 100%;
    padding: 0 18px;
  }    
}

#container #TextArea02 .wrap .text p {
  @include mq-sp() {
    margin-bottom: 15px;
  }  
}

/* =========================================================
TextArea03
========================================================= */
#container #TextArea03 {
  height: 700px;
  background:url(/brand/am6/interview/02/images/img_02.png) center center no-repeat;
  background-size: cover;
  @include mq-sp() {
    height: auto;
    background:url(/brand/am6/interview/02/images/sp/img_02.png) center center no-repeat;
    background-size: cover;    
    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      background:url(/brand/am6/interview/02/images/sp/img_03.png) center center no-repeat;
      background-size: cover;
    }
  }  
}

#container #TextArea03 .wrap {
  height: 700px;
  @include mq-sp() {
    height: 375px;
  }    
}

#container #TextArea03 .wrap .text {
  width: 50%;
  height: 700px;
  display:table;
  margin-left: 50%;
  @include mq-sp() {
    width: 100%;
    height: 375px;
    margin-left: 0;
  }   
}

#container #TextArea03 .wrap .text h2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  @include mq-sp() {
    font-size: 24px;
    line-height: 1.35;
  }
}

/* =========================================================
TextArea04
========================================================= */
#container #TextArea04 {
  height: 700px;
  background:url(/brand/am6/interview/02/images/img_03.png) center center no-repeat;
  position: relative;
  background-size: cover;
  @include mq-sp() {
    height: auto;
    background:url(/brand/am6/interview/02/images/sp/img_04.png) center center no-repeat;
    position: relative;
    background-size: cover;
    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      background:url(/brand/am6/interview/02/images/sp/img_05.png) center center no-repeat;
      background-size: cover;
    }    
  }  
}

#container #TextArea04 .wrap {
  width: 50%;
  height: 700px;
  position: absolute;
  top:0;
  display:table;
  @include mq-sp() {
    position: static;
    width: 100%;
    height: 100%;
    padding: 35px 18px 15px;
  }   
}

#container #TextArea04 .wrap .text {
  height: 700px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  @include mq-sp() {
    height: 100%;
  }    
}

#container #TextArea04 .wrap .text .textWrap {
  text-align: left;
  color: #fff;
  width: 460px;
  display: inline-block;
  @include mq-sp() {
    width: 100%;
  }    
}

#container #TextArea04 .wrap .text .textWrap > p {
     @include mq-sp() {
      margin-bottom: 15px;
    }     
}

/* =========================================================
TextArea05
========================================================= */
#container #TextArea05 {
  padding: 100px 0 100px 0;
  @include mq-sp() {
    padding: 30px 0 15px;
  }      
}

#container #TextArea05 .wrap {
  width: 820px;
  margin:0 auto;
  position: relative;
    @include mq-sp() {
      width: 100%;
      padding: 0 18px;
    }      
}

#container #TextArea05 .wrap h2 {
    @include mq-sp() {
      position: static;
      left: 0;
      width: 100%;
      margin-left: 0;
    }      
}

#container #TextArea05 .wrap .text {
  margin-bottom: 70px;
  @include mq-sp() {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
}

#container #TextArea05 .wrap .text p {
  @include mq-sp() {
    margin-bottom: 12px;
  }
}

#container #TextArea05 .wrap .text .text05 {
  @include mq-sp() {
    margin-bottom: 30px;
  }
}

#container #TextArea05 .wrap .text .wow {
     @include mq-sp() {
      padding: 0 20px;
    }     
}

/* =========================================================
TextArea06
========================================================= */
#container #TextArea06 {
  background: url(/brand/am6/interview/02/images/img_05.png) center top no-repeat;
  height: 520px;
  position: relative;
  width: 100%;
  @include mq-sp() {
    height: 165px;
    background: url(/brand/am6/interview/02/images/sp/img_06.png) center top no-repeat;
    background-size: cover;
  }  
}

#container #TextArea06 .wrap {
  width: 820px;
  margin:0 auto;
  @include mq-sp() {
    display: table;
    width: 100%;
    height: 100%;
  }    
}

#container #TextArea06 .wrap .text {
  position: relative;
  @include mq-sp() {
    display: table-cell;
    vertical-align: middle;
  }
}

#container #TextArea06 .wrap .text h2 {
  position: absolute;
  top:210px;
  left: 420px;
  width: 500px;
  @include mq-sp() {
    position: static;
    left: 0;
    width: 100%;
    text-align: center;
  }    
}

/* =========================================================
TextArea07
========================================================= */
#container #TextArea07 {
  padding: 80px 0 100px 0;
  @include mq-sp() {
    padding: 30px 0 0;
  }  
}

#container #TextArea07 .wrap {
  width: 820px;
  margin:0 auto;
  @include mq-sp() {
    width: 100%;
    padding: 0 18px;
  }    
}

#container #TextArea07 .wrap .text img {
  margin-top: 40px;
  @include mq-sp() {
    margin-top: 0;
  }
}

#container #TextArea07 .wrap .text .wow {
  @include mq-sp() {
    margin-bottom: 40px;
    padding: 0 20px;
  }   
}

#container #TextArea07 .wrap .text .imageArea {
  position: relative;
  @include mq-sp() {
    padding: 0 35px;
  }   
}

#container #TextArea07 .wrap .text .imageArea .text {
  position: absolute;
  top:40px;
  right: -70px;
  @include mq-sp() {
    top: 25px;
    right: 5px;
    width: 45.2%;
  }   
}

#container #TextArea07 .wrap .text p {
  @include mq-sp() {
    margin-bottom: 12px;
  }
}

#container #TextArea07 .wrap .text .text05 {
  @include mq-sp() {
    margin-bottom: 30px;
  }
}
/* =========================================================
TextArea08
========================================================= */
#container #TextArea08 {
  background: url(/brand/am6/interview/02/images/img_09.png) center center no-repeat;
  background-size: cover;
  min-height: 765px;
  @include mq-sp() {
    min-height: auto;
    background: url(/brand/am6/interview/02/images/sp/img_10.png) center center no-repeat;
    background-size: cover;
    padding-bottom: 120px;
  }
}

#container #TextArea08 .wrap {
  width: 820px;
  margin:0 auto;
  padding: 90px 0 0 0;
  @include mq-sp() {
    width: 100%;
    padding: 30px 18px 0;
  }    
}

#container #TextArea08 .wrap p {
  @include mq-sp() {
    margin-bottom: 15px;
  }    
}

#container #TextArea08 .wrap .text h2 {
  text-align: center;
  @include mq-sp() {
    text-align: left;
  }
}

#container #TextArea08 .wrap .text .text04 {
  font-weight: bold;
  color:#000;
}

/* =========================================================
profileArea
========================================================= */
#container #profileArea {
  background: url(/brand/am6/interview/02/images/bg_01.png) center bottom no-repeat;
  background-size: contain;
  padding-bottom: 120px;
  padding-top: 65px;
  @include mq-sp() {
    padding: 30px 0 35px;
  }  
}

#container #profileArea .wrap {
  width:820px;
  margin: 0 auto;
  @include mq-sp() {
    width: 100%;
  }    
}

#container #profileArea .wrap .profile {
  width:820px;
  height: 218px;
  background: url(/brand/am6/interview/02/images/profile.png);
  box-sizing:border-box;
  padding: 45px 34px 0 265px;
   @include mq-sp() {
    width: 100%;
    max-width: 335px;
    height: auto;
    min-height: 232px;
    margin: 0 auto;
    padding: 15px 0 0 118px;
    background: url(/brand/am6/interview/02/images/sp/profile.png) no-repeat;
    background-size: 335px 232px;
  }   
}

#container #profileArea .wrap .profile h2 {
  font-size: 22px;
  font-weight: 700;
  @include mq-sp() {
    margin-bottom: -5px;
    font-size: 13px;
    line-height: 1;
  }  
}

#container #profileArea .wrap .profile h2 span {
  font-size: 16px;
  @include mq-sp() {
    font-size: 13px;
  }
}

#container #profileArea .wrap .profile .title {
  font-size: 12px;
  @include mq-sp() {
    font-size: 10px;
    line-height: 1;
  }  
}

#container #profileArea .wrap .profile p {
  margin-top: 13px;
  font-size: 14px;
  @include mq-sp() {
    font-size: 12px;
    margin-top: 5px;
    color: #555;
    line-height: 1.76;
  }
}

#container #profileArea .wrap .profile p a {
  color: #555;
  text-decoration: underline;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

#container #profileArea .wrap .img {
  margin-left: -20px;
  margin-bottom: 40px;
  @include mq-sp() {
    margin-left: 0;
    padding: 0 38px;
  }  
}



/* -----------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------------ */

.interview_sns{
    width: 830px;
    text-align:left;
    margin: 0 auto;
    position: relative;
    padding:23px 0 0 0 ;
      @include mq-sp() {
      width: 110px;
      margin: 0 auto;
    }    
}
.interview_sns .fb-share-button{
    width: 120px;
    position: absolute;
    top: 20px;
    left: 80px;
}

.footer .foot_interview_wrap{
    background: url(/common/img/foot_bg.jpg);
    padding:80px 0 110px 0;
    @include mq-sp() {
      padding: 30px 0 35px;
    }
}
.footer .foot_interview{
    background: url(/common/img/foot_title.png) no-repeat top center;
    width: 1050px;
    margin: 0 auto;
    text-align: center;
    padding: 47px 0 0 0;
    height: 460px;
    position: relative;
    overflow: hidden;
    @include mq-sp() {
      width: 100%;
      height: auto;
      padding: 47px 10px 0;
      background: url(/common/img/sp/foot_title.png) no-repeat top center;
      background-size: 375px 15px;
      background-position: top center;
    }  
}

.footer .foot_interview p{
    float: left;
    @include mq-sp() {
      width: 50%;
    }
}