@charset "utf-8";

@import "../../../common/base/variable";
@import "../../../common/base/mixin";

/* =========================================================
base
========================================================= */
body {
  opacity: 0;
  min-width: 1075px;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.visual {
  height: 623px;
  background: url(/brand/am6/interview/03/images/visual.png) center center no-repeat;
  position: relative;
  @include mq-sp() {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-top: 97.8%;
    background: url(/brand/am6/interview/03/images/sp/visual.png) center center no-repeat #fcf4ed;
    background-size: cover;
  }  
}

.visual .text {
  position: absolute;
  top: 123px;
  left: 50%;
  margin-left: -550px;
  text-align: left;
  @include mq-sp() {
    top: 25px;
    left: 20px;
    margin-left: 0;
  }   
}

.visual .text .num {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  @include mq-sp() {
    margin-bottom: 16px;
    font-size: 12px;
  }   
}

.visual .text .num img {
  margin-bottom: 20px;
  @include mq-sp() {
    width: 31px;
    height: 28px;
    margin-bottom: 0;
  }    
}

.visual .text h1 {
  font-size: 34px;
  margin-bottom: 40px;
  @include mq-sp() {
    margin-bottom: 6px;
    font-size: 17px;
    line-height: 1.76;
    letter-spacing: .05em;
  }    
}

.visual .text p {
  font-size: 20px;
  @include mq-sp() {
    font-size: 12px;
  }   
}

.visual .text p img {
  vertical-align: middle;
  margin-left: 10px;
  @include mq-sp() {
    width: 9px;
    height: auto;
    margin: 0 2px;
  }     
}

.visual .text p span {
  font-size: 13px;
  @include mq-sp() {
    font-size: 11px;
  }    
}

/* =========================================================
container
========================================================= */
#container {
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  color: #111;
  div {
    box-sizing: initial;
    @include mq-sp() {
      box-sizing: border-box;
    }
  }
}

/* =========================================================
leadArea
========================================================= */
#container #leadArea {
    height: 727px;
    color: #fff;
    overflow: hidden;
    position: relative;
    @include mq-sp() {
      height: 637px;
    }
}

#container #leadArea .coffee {
    width: 100%;
    height: 727px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    @include mq-sp() {
      top: auto;
      bottom: 22px;      
      height: 285px;
    }
}
#container #leadArea .coffee p{
    height: 727px;
    margin: 0 auto;
    text-align: center;
    background: url(/brand/am6/interview/03/images/img_01_.jpg) center top no-repeat;
  @include mq-sp() {
    background: url(/brand/am6/interview/03/images/sp/img_01.png) center bottom no-repeat;
    background-size: 343px 285px;
    width: 100%;
    height: 285px;
    max-width: 343px;
  }
}

#container #leadArea .wrap {
    margin: 0 auto;
    text-align: center;
    height: 727px;
    position:relative;
    background: url(/brand/am6/interview/03/images/img_01.jpg) center top no-repeat;
  @include mq-sp() {
    position: relative;
    padding: 0 18px;
    height: 637px;
    padding-bottom: 30px;
    background: url(/brand/am6/interview/03/images/sp/img_04.png) center top no-repeat;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
    }
    &::before {
      top: 0;
      left: 0;
      width: 60px;
      height: 58px;
      background: url(/brand/am6/interview/03/images/sp/img_02.png) center top no-repeat;
      background-size: 68px 58px;
    }    
    &::after {
      bottom: 0;
      right: 0;
      width: 86px;
      height: 144px;
      background: url(/brand/am6/interview/03/images/sp/img_03.png) center top no-repeat;
      background-size: 86px 144px;
    }
  }
}

#container #leadArea .wrap .text {    
    padding: 200px 0 0 0px;
    left: 54%;
    width: 460px;
    position: absolute;
    z-index: 12;
    @include mq-sp() {
      position: static;
      left: 0;
      width: 100%;
      padding: 30px 0 0 0;
    }      
}


#container #leadArea .wrap .text h2 {
  margin-bottom: 50px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: normal;
  @include mq-sp() {
    margin-bottom: 10px;
    font-size: 19px;
    text-align: left;
  }

}

#container #leadArea .wrap .text h2 img {
}

#container #leadArea .wrap .text p {
  color:#fff;
@include mq-sp() {
  position: relative;
  z-index: 3;
  text-align: left;
  line-height: 1.76;
}

}
#container #leadArea .photo1{
    padding: 100px 0 0 100px;
    width: 579px;
    @include mq-sp() {
      width: 100%;
    }      
}

/* =========================================================
TextArea
========================================================= */
#container .TextArea h2 {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: normal;
}

#container .TextArea p {
  margin-bottom: 25px;
  line-height: 1.9;
  color: #555555;
}

#container .TextArea p .name {
  font-weight: 700;
  color: #000;
}

/* =========================================================
TextArea01
========================================================= */
#container #TextArea01 {
  background: url(/brand/am6/interview/03/images/img_02_bg.jpg) center top no-repeat;
  background-size: cover;
  padding: 80px 0 90px 0;
  position: relative;
  width: 100%;
  display: table;
  @include mq-sp() {
    padding: 30px 0;
  }
}

#container #TextArea01 .wrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  @include mq-sp() {
    padding: 0 18px;
  }
}

#container #TextArea01 .wrap .text h2 {
  display: inline-block;
  color: #000;
  @include mq-sp() {
    display: block;
    margin-bottom: 16px;
    font-size: 19px;
    text-align: left;
  }
}

#container #TextArea01 .wrap .text_int{
    width: 820px;
    text-align: left;
    margin: 430px auto 0;
  @include mq-sp() {
      width: 100%;
      margin-top: 77%;
    }
}

#container #TextArea01 .wrap .text_int p {
  @include mq-sp() {
    margin-bottom: 8px;
    font-size: 13px;
  }      
}

#container #TextArea01 .wrap .text p
{
    font-weight: 700;
    color: #000;
    @include mq-sp() {
      margin-bottom: 35px;
      font-size: 13px;
      text-align: left;
    }
}

#container #TextArea01 .map {
    position: relative;
    width: 690px;
    margin: -10px auto 0;
    @include mq-sp() {
      width: 100%;
    }
  .img-map {
    padding-bottom: 30px;
    @include mq-sp() {
      padding: 0;
    }
  }
  .txt-map-ant {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #814510;
    margin: 0;
    text-align: right;
    @include mq-sp() {
      top: 0;
      bottom: initial;
    }
  }
}

#container #TextArea01 .map .img-map,
#container #TextArea01 .map .wow.fadeIn {
  position:absolute;
  @include mq-sp() {
    padding-top: 12%;
  }
}

#container #TextArea01 .wrap .text .text01 {
  font-weight: 700;
}


/* =========================================================
TextArea02
========================================================= */
#container #TextArea02 {
  height: 520px;
  background: url(/brand/am6/interview/03/images/img_03.png) center top no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  display: table;
  @include mq-sp() {
    height: 165px;
    background: url(/brand/am6/interview/03/images/sp/img_05.png) center top no-repeat;
    background-size: cover;    
  }      
}

#container #TextArea02 .wrap {
  width: 820px;
  margin:0 auto;
  padding: 40px 0 0 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  @include mq-sp() {
    width: 100%;
    padding: 0;
  }    
}

#container #TextArea02 .wrap h2 {
  @include mq-sp() {
    margin-bottom: 0;
    font-size: 19px;
  }
}

/* =========================================================
TextArea02_
========================================================= */
#container #TextArea02_ {
    width: 820px;
    margin: 0 auto;
    padding: 100px 0 80px;
    @include mq-sp() {
      width: 100%;
      padding: 30px 18px 25px;
    }
  .text_int p {
    @include mq-sp() {
      margin-bottom: 10px;
    }
  }
}

/* =========================================================
TextArea03
========================================================= */
#container #TextArea03 {
  height: 700px;
  background:url(/brand/am6/interview/03/images/img_04.png) center center no-repeat;
  background-size: cover;
  @include mq-sp() {
    height: auto;
    background:url(/brand/am6/interview/03/images/sp/img_06.png) center center no-repeat;
    background-size: cover;    
    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      background:url(/brand/am6/interview/03/images/sp/img_07.png) center center no-repeat;
      background-size: cover;
    }
  } 

}

#container #TextArea03 .wrap {
  height: 700px;
  @include mq-sp() {
    height: 375px;
  }    
}

#container #TextArea03 .wrap .text {
  width: 50%;
  height: 700px;
  display:table;
  margin-left: 50%;
  @include mq-sp() {
    width: 100%;
    height: 375px;
    margin-left: 0;
  }      
}

#container #TextArea03 .wrap .text h2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  @include mq-sp() {
    font-size: 24px;
    line-height: 1.35;
  }  
}

#container #TextArea03 .wrap .text h2 img {
  @include mq-sp() {
    width: 100px;
    height: 186px;
  }  
}

/* =========================================================
TextArea04
========================================================= */
#container #TextArea04 {
  height: 700px;
  background:url(/brand/am6/interview/03/images/img_05.png) center center no-repeat;
  position: relative;
  background-size: cover;
  @include mq-sp() {
    height: auto;
    background:url(/brand/am6/interview/03/images/sp/img_08.png) center center no-repeat;
    background-size: cover;    
    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      background:url(/brand/am6/interview/03/images/sp/img_09.png) center center no-repeat;
      background-size: cover;
    }
  }   
}

#container #TextArea04 .wrap {
  width: 50%;
  height: 700px;
  position: absolute;
  top:0;
  display:table;
  @include mq-sp() {
    position: static;
    width: 100%;
    height: 100%;
    padding: 35px 18px 15px;
  }   
}

#container #TextArea04 .wrap .text {
  height: 700px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  @include mq-sp() {
    height: 100%;
  }     
}

#container #TextArea04 .wrap .text .textWrap {
  text-align: left;
  color: #fff;
  width: 460px;
  display: inline-block;
  @include mq-sp() {
    width: 100%;
  }    
}

#container #TextArea04 .wrap .text .textWrap > p {
     @include mq-sp() {
      margin-bottom: 15px;
      font-size: 13px;
    }     
}
/* =========================================================
TextArea05
========================================================= */
#container #TextArea05 {
  padding: 70px 0 100px 0;
  position: relative;
  overflow: hidden;
  @include mq-sp() {
    padding: 30px 0 20px;
  }
}

#container #TextArea05 .wrap {
  width: 830px;
  margin:0 auto;
  @include mq-sp() {
    width: 100%;
    padding: 0 18px;
  }    
}

#container #TextArea05 .wrap h2 {
    text-align: center;
   @include mq-sp() {
    margin-bottom: 13px;
    font-size: 19px;
    text-align: left;
   }
}
#container #TextArea05 .text04 {
    color: #000;
    font-weight: bold;
}

#container #TextArea05 .wrap .text .img_04 {
  margin-top: 3px;
  @include mq-sp() {
    margin-top: 1px;
  }
}
#container #TextArea05 .wrap .text p{
  @include mq-sp() {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 1.76;
  }
}

#container #TextArea05 .wrap .text .img_box {
     @include mq-sp() {
      padding: 0 20px;
      overflow: hidden;
     }
}

#container #TextArea05 .wrap .text .img_box span{
    display: block;
    float: left;
    margin:0px 3px;
    padding: 0;
    vertical-align: bottom;
     @include mq-sp() {
      width: 49%;
      margin: 0 .5%;
     }
}

/* =========================================================
TextArea06
========================================================= */
#container #TextArea06 {
  background: url(/brand/am6/interview/03/images/img_07.jpg) center top no-repeat;
  background-size: cover;
  height: 810px;
  position: relative;
  width: 100%;
  padding-top: 80px;
  @include mq-sp() {
    height: auto;
    padding: 40px 0 20px;
  }
}

#container #TextArea06 b{
font-weight: bold;
    color: #000;
}

#container #TextArea06 .wrap {
  width: 820px;
  margin:0 auto;
  @include mq-sp() {
    width: 100%;
    padding: 0 18px;
  }    
}

#container #TextArea06 .wrap .text {
  position: relative;
}

#container #TextArea06 .wrap .text p {
  @include mq-sp() {
    margin-bottom: 12px;
    font-size: 13px;
  }
}

#container #TextArea06 .wrap .text h2 {
    text-align: center;
    margin-bottom: 70px;
    @include mq-sp() {
      margin-bottom: 10px;
      font-size: 19px;
      text-align: left;
    }
}

/* =========================================================
TextArea07
========================================================= */
#container #TextArea07 {
  padding: 110px 0 70px 0;
  @include mq-sp() {
    padding: 35px 0 0;
  }
}

#container #TextArea07 .wrap {
  width: 820px;
  margin:0 auto;
  @include mq-sp() {
    width: 100%;
    padding: 0 38px;
  }    
}
#container #TextArea07 .wrap p{
  margin-bottom:40px;
}

#container #TextArea07 .wrap .text img {
  margin-top: 40px;
}

#container #TextArea07 .wrap .text .imageArea {
  position: relative;
}

#container #TextArea07 .wrap .text .imageArea .text {
  position: absolute;
  top:40px;
  right: -70px;
}

/* =========================================================
TextArea08
========================================================= */
#container #TextArea08 {
  background: url(/brand/am6/interview/03/images/img_09.png) center center no-repeat;
  background-size: cover;
  min-height: 765px;
}

#container #TextArea08 .wrap {
  width: 820px;
  margin:0 auto;
  padding: 90px 0 0 0;
  @include mq-sp() {
    width: 100%;
  }    
}

#container #TextArea08 .wrap .text h2 {
  text-align: center;
}

#container #TextArea08 .wrap .text .text04 {
  font-weight: bold;
  color:#000;
}

/* =========================================================
profileArea
========================================================= */
#container #profileArea {
  background: url(/brand/am6/interview/03/images/img_02_bg.jpg) center bottom;
  background-size:cover;
  padding-bottom: 120px;
  padding-top: 65px;
  @include mq-sp() {
    padding: 30px 0 35px;
  }  
}

#container #profileArea .wrap {
  width:820px;
  margin: 0 auto;
  @include mq-sp() {
    width: 100%;
  }    
}

#container #profileArea .wrap .profile {
  width:820px;
  height: 304px;
  background: url(/brand/am6/interview/03/images/profile.png) no-repeat;
  box-sizing:border-box;
  padding: 45px 34px 0 265px;
    @include mq-sp() {
      width: 100%;
      max-width: 335px;
      height: 452px;
      margin: 0 auto;
      background: url(/brand/am6/interview/03/images/sp/profile.png);
      background-size: 335px 452px;
      padding: 15px 0 0 118px;
    }  
}

#container #profileArea .wrap .profile h2 {
  font-size: 22px;
  font-weight: 700;
  @include mq-sp() {
    margin-bottom: -8px;
    font-size: 15px;
  }  
}

#container #profileArea .wrap .profile h2 span {
  font-size: 16px;
}

#container #profileArea .wrap .profile .title {
  font-size: 12px;
  @include mq-sp() {
    font-size: 11px;
  }  
}

#container #profileArea .wrap .profile p {
  margin-top: 13px;
  font-size: 14px;
  @include mq-sp() {
    margin-top: 13px;
    font-size: 12px;
    line-height: 1.8;
    color: #555;
  }  
}

#container #profileArea .wrap .profile p a {
  color: #555;
  text-decoration: underline;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

#container #profileArea .wrap .img {
  margin-left: -20px;
  margin-bottom: 40px;
  @include mq-sp() {
    margin-left: 0;
    padding: 0 38px;
  }  
}

.bannerimg{
    margin: 40px auto 0;
    @include mq-sp() {
      margin-top: 24px;
      padding: 0 20px;
    }
}

/* =========================================================
bannerarea
========================================================= */
#container #banner{
    text-align: center;
    margin: 50px 0;
}

/* -----------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------------ */

.interview_sns{
    width: 830px;
    text-align:left;
    margin: 0 auto;
    position: relative;
    padding:23px 0 0 0 ;
      @include mq-sp() {
      width: 110px;
      margin: 0 auto;
    }    
}
.interview_sns .fb-share-button{
    width: 120px;
    position: absolute;
    top: 20px;
    left: 80px;
}

.footer .foot_interview_wrap{
    background: url(/common/img/foot_bg.jpg);
    padding:80px 0 110px 0;
    @include mq-sp() {
      padding: 30px 0 35px;
    }
}
.footer .foot_interview{
    background: url(/common/img/foot_title.png) no-repeat top center;
    width: 1050px;
    margin: 0 auto;
    text-align: center;
    padding: 47px 0 0 0;
    height: 460px;
    position: relative;
    overflow: hidden;
    @include mq-sp() {
      width: 100%;
      height: auto;
      padding: 47px 10px 0;
      background: url(/common/img/sp/foot_title.png) no-repeat top center;
      background-size: 375px 15px;
      background-position: top center;
    }  
}

.footer .foot_interview p{
    float: left;
    @include mq-sp() {
      width: 50%;
    }
}