/* ==========================================================
 wrapper
========================================================== */
.wrapper {
  width: 100%;
  overflow: hidden;
  @include mq-pc {
  }
  @include mq-sp {
  }
}

/* ==========================================================
 contents
========================================================== */
.contents {
  width: 100%;
  margin: auto;
  @include mq-pc {
  }
  @include mq-tb {
  }
  @include mq-sp {
  }
}

/* ==========================================================
 contents-main
========================================================== */
.contents-main {
  position: relative;
  overflow: hidden;//margin領域確保
  background-color: $whitecolor;

  @include mq-pc {

  }
  @include mq-sptb {

  }
  @include mq-pc {

  }
  @include mq-tb {
  }
  @include mq-sp {

  }
}