@charset "utf-8";
@import "../base/_variable";
@import "../base/_mixin";
@import "../base/_sprite";

/* ==========================================================
 nav
========================================================== */

/* ---------------------------------------------
 breadcrumb
--------------------------------------------- */
.breadcrumb {
  position: relative;
  z-index: 1;
  .list {
    @include clearfix();
    padding-top: 14px;
    padding-bottom: 10px;
    transform: scale(.9);
    transform-origin: left;
    @include mq-pc() {
      margin-left: 40px;
      transform: none;
    }

  }
  .item {
    float: left;
    line-height: 1.3;
    font-size: 11px;
    font-weight: bold;
    @include mq-pc() {
      font-size: 12px;
    }
    &:last-child {
      text-decoration:  underline;
      @include mq-pc() {
        text-decoration: none;
        border-bottom: 2px solid;
      }
    }

    &:not(:first-child) {
      position: relative;
      margin-left: 25px;
      @include mq-pc() {
        margin-left: 30px;
      }
      &::before {
        position: absolute;
        top: 0;
        left: -19px;
        bottom: 0;
        content: '';
        margin: auto 0;
        width: 12px;
        height: 1px;
        background-color: #000;
        @include mq-pc() {
          left: -22px;
          width: 14px;
        }
      }
    }
  }
}

.breadcrumb-theme-primary {
  .item {
    color: #fff;
    &:not(:first-child) {
      &::before {
        background-color: #fff;
      } 
    }
    a {
      color: #fff;
    }
  }
}

.breadcrumb-theme-secondary {
  background-color: #f4fbf7;
  .list {
    text-align: left;
    @include mq-pc() {
      padding-top: 26px;
      padding-bottom: 21px;
    }
  }
}

/* ---------------------------------------------
 nav-global
--------------------------------------------- */
.nav-global {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  overflow: auto;
  background: #fff;
  z-index: 10010;
  transition: top .4s;
  &.is-active {
    top: 0;
    transition: top .4s;
  }
  @include mq-pc() {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    padding-top: 10px;
    overflow: visible;
    float: right;
    .is-fixed & {
      padding-top: 0;
    }
  }
}


.list-nav-global {
  @include clearfix();
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 0 20px;
  .item-nav-global {
    text-align: left;
    & > a {
      position: relative;
      display: block;
      height: 61px;
      padding: 16px 0 0 50px;
      border-bottom: 1px solid #e8e8e8;
      font-size: 1.5rem;
      font-weight: bold;
      &:hover {
        opacity: 1;
      }
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        width: 7px;
        height: 13px;
        margin: auto;
        content: '';
        background-image: url(/common/img/icon/ico_ar_r_bk_14x26@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        margin: auto;
        content: '';
      }
      &.js-gnav-acc {
        border-bottom: 0;
        &:after {
          width: 12px;
          height: 12px;
          background-image: url(/common/img/icon/ico_gnav_open@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.is-active {
          border-bottom: 1px solid #e8e8e8;
          &:after {
            width: 12px;
            height: 12px;
            background-image: url(/common/img/icon/ico_gnav_close@2x.png);
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.shop {
      & > a {
        &:before {
          left: 5px;
          width: 22px;
          height: 19px;
          background-image: url(/common/img/icon/ico_gnav_shop@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    &.event {
      & > a {
        &:before {
          left: 2px;
          width: 29px;
          height: 20px;
          background-image: url(/common/img/icon/ico_gnav_event@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    &.doc {
      & > a {
        &:before {
          left: 9px;
          width: 15px;
          height: 19px;
          background-image: url(/common/img/icon/ico_gnav_doc@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    &.fun {
      & > a {
        &:before {
          left: 7px;
          width: 19px;
          height: 13px;
          background-image: url(/common/img/icon/ico_gnav_fun@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    &.search {
      & > a {
        &:before {
          left: 5px;
          width: 23px;
          height: 21px;
          background-image: url(/common/img/icon/ico_gnav_search@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    &.zine {
      border-top: 1px solid #e8e8e8;
      & > a {
        &:before {
          left: 5px;
          width: 22px;
          height: 18px;
          background-image: url(/common/img/icon/ico_gnav_zine@2x.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
  @include mq-pc() {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: flex;
    max-width: 843px;
    margin-left: auto;
    padding: 0;
    font-size: 0;
    .item-nav-global {
      position: relative;
      padding-bottom: 31px;
      transition: background .3s;
      &.is-active {
        background: #f7f7f7;
        transition: background .3s;
      }
      &:last-child {
        & > a {
          padding-right: 10px;
          border-right: 0;
        }
      }
      & > a {
        height: auto;
        padding: 42px 19px 4px;
        border: none;
        border-right: 1px solid #e0e0e0;
        font-size: 1.4rem;
        line-height: 1.0;
        letter-spacing: 1px;
        transition: background .3s;
        &:hover {
          background: #f7f7f7;
          transition: background .3s;
        }
        &:after {
          display: none;
        }
        &:before {
          top: 6px;
          bottom: auto;
          right: 0;
        }
        &.js-gnav-acc {
          &:after {
            top: auto;
            left: 0;
            bottom: -12px;
            display: block;
            width: 12px;
            height: 8px;
            background-image: url(/common/img/icon/ico_gnav_ar_d.png);
            background-size: auto;
          }
          &.is-active {
            background: #f7f7f7;
            border-bottom: none;
            &:after {
              width: 12px;
              height: 8px;
              background-image: url(/common/img/icon/ico_gnav_ar_d.png);
              background-size: auto;
            }
          }
        }
      }
      &.shop {
        & > a {
          &:before {
            left: 0;
            width: 26px;
            height: 24px;
            background-image: url(/common/img/icon/ico_gnav_shop.png);
            background-size: auto;
          }
        }
      }
      &.event {
        & > a {
          &:before {
            left: 0;
            top: 5px;
            width: 36px;
            height: 26px;
            background-image: url(/common/img/icon/ico_gnav_event.png);
            background-size: auto;
          }
        }
      }
      &.doc {
        & > a {
          &:before {
            left: 0;
            top: 7px;
            width: 18px;
            height: 24px;
            background-image: url(/common/img/icon/ico_gnav_doc.png);
            background-size: auto;
          }
        }
      }
      &.fun {
        & > a {
          &:before {
            left: 0;
            top: 11px;
            width: 24px;
            height: 16px;
            background-image: url(/common/img/icon/ico_gnav_fun.png);
            background-size: auto;
          }
        }
      }
      &.search {
        & > a {
          &:before {
            left: 0;
            top: 5px;
            width: 30px;
            height: 26px;
            background-image: url(/common/img/icon/ico_gnav_search.png);
            background-size: auto;
          }
        }
      }
      &.zine {
        border-top: none;
        & > a {
          &:before {
            left: 10px;
            top: 8px;
            width: 28px;
            height: 22px;
            background-image: url(/common/img/icon/ico_gnav_zine.png);
            background-size: auto;
          }
        }
      }
    }
    .is-fixed & {
      .item-nav-global {
        padding: 0;
        &.is-active,
        &:hover {
          background: #f7f7f7;
        }
        & > a {
          padding: 17px;
          border-right: none;
          &:hover {
            background: #f7f7f7;
            transition: background .3s;
          }
          &:after {
            display: none;
          }
          &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -1px;
            left: auto;
            display: block;
            width: 1px;
            height: 16px;
            background: #f0f0f0;
            content: '';
          }
          &.js-gnav-acc {
            &:after {
              position: static;
              display: inline-block;
              margin-left: 6px;
            }
            &.is-active {
              &:after {
              }
            }
          }
        }
        &:last-child {
          & > a {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.list-nav-global-low-01 {
  padding-left: 35px;
  .js-gnav-acc + & {
    display: none;
  }
  @include mq-pc() {
    position: absolute;
    top: 100%;
    left: 0;
    width: 320px;
    background: rgba(244,244,244,0.9);
    padding: 28px 40px 14px 30px;
    .js-gnav-acc + & {
      display: none;
    }
  }
}

.item-nav-global-low-01 {
  & > a {
    position: relative;
    display: block;
    height: 51px;
    padding-top: 12px;
    padding-left: 15px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1.4rem;
    font-weight: bold;
    &:hover {}
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      background-image: url(/common/img/icon/ico_ar_r_bk_14x26@2x.png);
      background-repeat: no-repeat;
      width: 7px;
      height: 13px;
      background-size: contain;
      margin: auto;
      content: '';
    }
  }
  .list-nav-global-low-01 &:first-child a {
    border-top: none;
  }
  @include mq-pc() {
    & > a {
      height: auto;
      padding: 0 0 5px;
      border-top: none;
      border-bottom: 2px solid #000;
      &:hover {}
      &:after {
        display: none;
      }
    }
  }
}

.list-nav-global-low-02 {
  padding: 8px 0 8px 16px;
  @include mq-pc() {
    padding: 2px 0 0;
    margin-bottom: 16px;
  }
}

.item-nav-global-low-02 {
  & > a {
    position: relative;
    display: block;
    padding: 6px 0 6px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover {}
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 6px;
      height: 2px;
      margin: auto;
      background: #000;
      content: '';
    }
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      background-image: url(/common/img/icon/ico_ar_r_bk_12x20@2x.png);
      background-repeat: no-repeat;
      width: 6px;
      height: 10px;
      background-size: contain;
      margin: auto;
      content: '';
    }
  }
  @include mq-pc() {
    & > a {
      padding: 5px 0 5px 13px;
      &:hover {}
      &:before {
      }
      &:after {
        display: none;
      }
    }
  }
}