@charset "utf-8";

@import "../../common/base/variable";
@import "../../common/base/sprite";
@import "../../common/base/mixin";

/* ==========================================================
 shop
========================================================== */
.headline.headline-shop {
  padding-bottom: 16px;
  margin-bottom: 0;
  @include mq-pc() {
    padding-bottom: 5px;
  }
  .inner {
    padding-bottom: 140px;
    background-image: url(/img/shop/img_headline_01_sp.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 168px;
    @include mq-pc() {
      max-width: 1266px;
      margin: auto;
      padding-bottom: 70px;
      background-image: url(/img/shop/img_headline_01_pc.png);
      background-position: right bottom;
      background-size: auto;
    }
  }
  .title {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: normal;
    @include mq-pc() {
      font-size: 40px;
    }
  }
  .title-sub {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    @include mq-pc() {
      font-size: 24px;
    }
  }
  .text {
    font-size: 10px;
    @include mq-pc() {
      font-size: 18px;
    }
  }
}

.mod-shop-studio {
  padding: 40px 0;
  background-color: #fff;
  @include mq-pc() {
    padding: 80px 0;
  }
  & > .inner {
    padding: 0 10px;
    @include mq-pc() {
      max-width: 920px;
      margin: auto;
      padding: 0;
    }
  }
  .title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    @include mq-pc() {
      max-width: 500px;
      margin: 15px auto 45px;
      font-size: 24px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      display: block;
      width: 48px;
      height: 2px;
      background-color: $color-primary;
      @include mq-pc() {
        width: 55px;
        top: 23px;
      }
    }
    &:before {
      left: 0;
      transform: rotate(45deg);
    }
    &:after {
      right: 0;
      transform: rotate(-45deg);
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    @include mq-pc() {
      margin-top: -50px;
    }
    .item {
      width: 50%;
      padding: 20px 27px 0;
      text-align: center;
      @include mq-pc() {
        padding: 50px 0 0;
        width: 33.3%;
        img {
          max-width: 166px;
        }
        &:nth-child(1) {
          padding-left: 70px;
        }
        &:nth-child(3) {
          padding-right: 70px;
        }
        &:nth-child(n+4) {
          width: 25%;
          img {
            max-width: 137px;
          }
        }
      }
    }
    .inner {
      @include mq-pc() {
      }
    }
    .fig {
      margin-bottom: 15px;
      @include mq-pc() {
      }
    }
    .text {
      line-height: 1.55;
      font-size: 11px;
      font-weight: bold;
      color: $color-primary;
      @include mq-pc() {
        font-size: 16px;
      }
    }
  }
}

.mod-shop-map {
  margin: 0 -10px;
  background-color: #fafafa;
  @include mq-pc() {
    margin: 0;
  }
  .inner {
    @include mq-pc() {
      max-width: 880px;
      margin: auto;
    }
  }
  .map {
    position: relative;
    max-width: 375px;
    height: 427px;
    margin: auto;
    background: url(/img/shop/img_japan_01_sp.png) no-repeat center center;
    background-size: contain;
    @include mq-pc() {
      max-width: none;
      width: auto;
      height: 0;
      padding-top: 99%;
      background-image: url(/img/shop/img_japan_01_pc.png);
      background-position: center 0;
      margin: 0;
    }
  }
  .list {
    @include mq-pc() {
    }
    .item {
      position: absolute;
      text-align: center;
      @include mq-pc() {
        border: 1px solid $color-primary;
        background-color: #fff;
      }
      &-01 {
        width: 100px;
        left: 137px;
        top: 76px;
        @include mq-pc() {
          width: 190px;
          left: 77.3%;
          top: 29%;
        }
      }
      &-02 {
        width: 89px;
        right: 10px;
        top: 262px;
        @include mq-pc() {
          width: 216px;
          right: auto;
          left: 74%;
          top: 49%;
        }
      }
      &-03 {
        width: 68px;
        left: 168px;
        top: 143px;
        @include mq-pc() {
          width: 136px;
          left: 36%;
          top: 30%;
        }
      }
      &-04 {
        width: 59px;
        left: 196px;
        top: 332px;
        @include mq-pc() {
          width: 136px;
          left: 51%;
          top: 73%;
        }
      }
      &-05 {
        width: 88px;
        left: 31px;
        top: 383px;
        @include mq-pc() {
          width: 176px;
          left: -5%;
          top: 52.5%;
        }
      }
      &-06 {
        width: 59px;
        left: 143px;
        top: 383px;
        @include mq-pc() {
          width: 136px;
          left: 26%;
          top: 81%;
        }
      }
      &-07 {
        width: 72px;
        left: 89px;
        top: 185px;
        @include mq-pc() {
          width: 236px;
          left: 6%;
          top: 32%;
        }
      }
    }
    .title {
      background-color: $color-primary;
      line-height: 1.8;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      @include mq-pc() {
        padding: 5px 9px;
        text-align: left;
        font-size: 14px;
      }
      a {
        color: #fff;
      }
    }
    .body {
      display: none;
      @include mq-pc() {
        display: block;
        padding: 9px 0;
        line-height: 1.5;
        font-size: 12px;
        letter-spacing: -.5em;
      }
    }
    .link {
      @include mq-pc() {
        display: inline-block;
        margin: 0 6px;
        letter-spacing: normal;
      }
    }
    .bar {
      @include mq-pc() {
        display: inline-block;
        letter-spacing: normal;
      }
    }
  }
}

.mod-shop-area {
  padding: 30px 0;
  @include mq-pc() {
    padding: 80px 0;
  }
  & > .inner {
    padding: 0 10px;
    @include mq-pc() {
      max-width: 980px;
      margin: auto;
      padding: 0;
    }
    & > .title {
      margin-bottom: 10px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      @include mq-pc() {
        margin-bottom: 20px;
        font-size: 24px;
      }
    }
    & > .body {
      @include mq-pc() {
        overflow: hidden;
      }
      & > .col {
        margin-top: 15px;
        &:first-child {
          margin-top: 0;
        }
        @include mq-pc() {
          width: 49%;
          float: right;
          margin-top: 0;
          &:first-child {
            float: left;
          }
        }
        & > .item {
          margin-top: 15px;
          &:first-child {
            margin-top: 0;
          }
          @include mq-pc() {
            margin-top: 30px;
            line-height: 1.86;
          }
          & > .title {
            @include mq-pc() {
              line-height: 2;
            }
            a {
              position: relative;
              display: block;
              border-bottom: 1px solid $color-primary;
              color: $color-primary;
              font-weight: bold;
              font-size: 12px;
              @include mq-pc() {
                font-size: 16px;
                pointer-events: none;
                cursor: auto;
                &:hover {
                  opacity: 1;
                }
              }
              &::before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 8px;
                right: 0;
                background-image: url(/common/img/icon/ico_arrow_bottom_07_sp.png);
                width: 17px;
                height: 9px;
                background-size: contain;
                @include mq-pc() {
                  content: none;
                }
              }
              &.is-active::before {
                transform: rotate(180deg);
              }
            }
          }
          & > .body {
            display: none;
            @include mq-pc() {
              display: block !important;
            }
            & > .head {
              padding-top: 15px;
              padding-left: 19%;
              overflow: hidden;
              color: #555;
              @include mq-pc() {
                padding-left: 17%;
                padding-bottom: 8px;
              }
              & .text {
                float: left;
                font-weight: bold;
                font-size: 11px;
                @include mq-pc() {
                  font-size: 14px;
                }
              }
              & .text-01 {
                width: 28%;
                @include mq-pc() {
                  width: 30%;
                }
              }
              & .text-02 {
                @include mq-pc() {
                }
              }
            }
            & > .detail {
              @include mq-pc() {
              }
            }
          }
          & .list {
            font-size: 11px;
            color: #555;
            @include clearfix();
            @include mq-pc() {
              font-size: 14px;
            }
            & .title {
              float: left;
              clear: both;
              width: 19%;
              font-weight: bold;
              padding-top: 10px;
              padding-right: .5em;
              margin-top: 10px;
              @include mq-pc() {
                width: 17%;
              }
              &:nth-child(1) {
                padding-top: 0;
                margin-top: 0;
                position: relative;
                top: -2em;
                @include mq-pc() {
                  position: static;
                }
              }
            }
            & .body {
              overflow: hidden;
              border-top: 1px solid #111;
              padding-top: 10px;
              margin-top: 10px;
              @include mq-pc() {
                border-color: #dadada;
              }
              &:nth-child(2) {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
              }
            }
            & .item {
              display: table;
              width: 100%;
              border-top: 1px solid #111;
              padding-top: 10px;
              margin-top: 10px;
              @include mq-pc() {
                border-color: #dadada;
              }
              &:first-child {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
              }
            }
            & .text {
              display: table-cell;
              @include mq-pc() {
              }
            }
            & .text-01 {
              width: 28%;
              padding-right: .5em;
              @include mq-pc() {
                width: 30%;
              }
            }
            & .text-02 {
              vertical-align: middle;
              @include mq-pc() {
              }
              a {
                display: block;
                color: #555;
              }
            }
          }
        }
      }
    }
  }
}

.mod-map-container {
  width: 100%;
  @include mq-pc() {
    padding-top: 0;
  }
}
.mod-map-hero {
  padding: 0 10px;
  @include mq-pc() {
    padding: 0;
  }
  .detail {
    @include mq-pc() {
      width: 60%;
    }
  }
  .sort {
    position: relative;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 20px;
    text-align: center;
    @include mq-pc() {
      border-top: 1px solid #eff6f2;
      border-bottom: 1px solid #eee;
      margin-bottom: 0;
      padding: 0 16px;
      background-color: #fbfbfb;
      text-align: left;
    }
  }
  .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    position: relative;
    z-index: 2;
    cursor: pointer;
    @include mq-pc() {
      margin-left: 0;
      padding: 3px 20px 3px 30px;
      color: $color-primary;
      font-weight: bold;
      font-size: 16px;
      &:hover {
        opacity: .6;
        transition: opacity .3s;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 4px 0 4px;
        border-color: $color-primary transparent transparent transparent;
      }
    }
  }
  .list {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 0 10px;
    background-color: rgba(250,250,250,.9);
    z-index: 2;
    text-align: left;
    &::-webkit-scrollbar {
      overflow:hidden;
      width: 4px;
      border-radius: 2px;
      background: rgba(0,0,0,0);
    }
    &::-webkit-scrollbar-thumb {
      overflow: hidden;
      border-radius: 2px;
      background:#333;
    }
    @include mq-pc() {
      padding: 0 15px;
    }
    &.is-active {
      display: block;
    }
    .item {
      line-height: 1.2;
      margin: 18px 0;
      @include mq-pc() {
        margin: 17px 0;
      }
      input {
        display: none;
        &:checked + label:before {
          background-color: $color-primary;
        }
        &:checked + label:after {
          display: inline-block;
        }
      }
      label {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        color: #000;
        font-weight: bold;
        font-size: 11px;
        @include mq-pc() {
          padding-left: 30px;
          font-size: 14px;
          transition: opacity .3s;
          &:hover {
            opacity: .6;
          }
        }
        &:before,
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
        }
        &:before {
          top: 0;
          left: 0;
          width: 15px;
          height: 15px;
          border: 1px solid $color-primary;
          background-color: #fff;
          border-radius: 50%;
          @include mq-pc() {
            top: -3px;
            width: 20px;
            height: 20px;
            border-width: 2px;
          }
        }
        &:after {
          display: none;
          top: 4px;
          left: 5px;
          width: 5px;
          height: 6px;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          transform: rotate(45deg);
          @include mq-pc() {
            top: 1px;
            left: 6px;
            width: 8px;
            height: 9px;
          }
        }
      }
    }
  }
}
.mod-map {
  width: 100%;
  height: 271px;
  @include mq-pc() {
    height: 708px;
  }
  &-wrap {
    margin-top: 10px;
    padding: 0 10px;
    @include mq-pc() {
      margin-top: 60px;
      padding: 0;
    }
  }
  &.detail {
    @include mq-pc() {
      height: 543px;
    }
  }
}
.mod-map-headline {
  margin-top: 50px;
  padding: 0 20px;
  background-color: $color-secondary;
  @include mq-pc() {
    position: relative;
    margin-top: 0;
    padding: 20px 209px;
    height: 92px;
  }
  .navi {
    padding: 6px 0;
    border-bottom: 1px solid #c0c0c0;
    @include clearfix();
    @include mq-pc() {
      padding: 0;
      border-bottom: none;
    }
  }
  .prev {
    position: relative;
    display: inline-block;
    padding-left: 14px;
    float: left;
    font-weight: bold;
    color: $color-primary;
    @include mq-pc() {
      float: none;
      padding-left: 16px;
      position: absolute;
      left: 22px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 2em;
      font-size: 14px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      width: 6px;
      height: 1px;
      background-color: $color-primary;
    }
    &:before {
      top: -3px;
      transform: rotate(150deg);
    }
    &:after {
      top: 3px;
      transform: rotate(-150deg);
    }
  }
  .search {
    float: right;
    position: relative;
    @include mq-pc() {
      width: 209px;
      float: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border-left: 1px solid #c0c0c0;
      &:hover {
        opacity: .6;
        transition: opacity .3s;
      }
    }
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 6px 0 6px;
      border-color: $color-primary transparent transparent transparent;
      @include mq-pc() {
        right: 18px;
        border-width: 14px 8px 0 8px;
      }
    }
  }
  .select {
    position: relative;
    padding-right: 22px;
    z-index: 2;
    font-weight: bold;
    background: none;
    cursor: pointer;
    @include mq-pc() {
      width: 100%;
      height: 100%;
      padding: 0 56px 0 32px;
      background: none;
      font-size: 14px;
    }
  }
  .title {
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    @include mq-pc() {
      padding: 0;
      line-height: 1.3;
      font-size: 22px;
    }
    .result {
      margin-left: 1em;
      @include mq-pc() {
        font-weight: normal;
        font-size: 16px;
      }
    }
  }
  .title-sub {
    display: none;
    @include mq-pc() {
      display: block;
      text-align: center;
    }
    a {
      font-size: 16px;
      color: $color-primary;
    }
  }
}
.mod-map-list {
  max-height: 810px;
  overflow-y: auto;
  border-bottom: 1px solid #c0c0c0;
  margin: 0 -20px;
  &::-webkit-scrollbar {
    overflow:hidden;
    width: 4px;
    border-radius: 2px;
    background: rgba(0,0,0,0);
  }
  &::-webkit-scrollbar-thumb {
    overflow: hidden;
    border-radius: 2px;
    background:#333;
  }
  @include mq-pc() {
    max-height: 667px;
    border: none;
    margin: 0;
  }
  .item {
    position: relative;
    display: block;
    padding: 20px 50px 20px 20px;
    overflow: hidden;
    border-top: 1px solid #c0c0c0;
    &:first-child {
      border-top: none;
    }
    &:before {
      content: '';
      position: absolute;
      right: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
      @include mq-pc() {
        content: none;
      }
    }
    @include mq-pc() {
      padding: 22px 16px;
    }
  }
  .thumb {
    float: left;
    width: 65px;
    margin-right: 20px;
    text-align: center;
    background-color: #f4f4f4;
    @include mq-pc() {
    }
  }
  .image {
    max-height: 64px;
    @include mq-pc() {
    }
  }
  .body {
    line-height: 1.52;
    overflow: hidden;
    @include mq-pc() {
    }
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    color: $color-primary;
    @include mq-pc() {
      font-size: 16px;
    }
  }
  .text {
    @include mq-pc() {
      font-size: 14px;
    }
    em {
      color: #ca3d08;
      @include mq-pc() {
      }
    }
  }
}
.box-pin {
  width: 350px;
  margin-left: 16px;
  padding: 12px;
  position: relative;
  background-color: #fff;
  border: 2px solid $color-primary;
  &:after, &:before {
  	top: 100%;
  	left: 0;
    right: 0;
    margin: auto;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  &:after {
    border-width: 15px 13px 0 13px;
    border-color: #fff transparent transparent transparent;
  }
  &:before {
    border-width: 18px 16px 0 16px;
    border-color: $color-primary transparent transparent transparent;
  }
  .body {
  }
  .thumb {
    margin-bottom: 12px;
    text-align: center;
  }
  .title {
    font-weight: bold;
    font-size: 16px;
    color: $color-primary;
  }
  .text {
    font-size: 12px;
    em {
    }
  }
}
.gm-style-iw,
.gm-style-iw div {
  overflow: visible !important;
}

.mod-shop-detail {
  padding: 0 10px 50px;
  @include mq-pc() {
    padding: 0 0 95px;
  }
  & > .body {
    @include mq-pc() {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      @include clearfix();
    }
  }
  .slide {
    position: relative;
    padding: 0 6px;
    @include mq-pc() {
      width: 47.4%;
      padding: 0;
    }
    .list {
      height: 325px;
      background-color: #f8f8f8;
      @include mq-pc() {
        height: 540px;
        margin-bottom: 0;
      }
    }
    .item {
      @include mq-pc() {
      }
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 325px;
        vertical-align: middle;
        @include mq-pc() {
          height: 540px;
        }
      }
      img {
        vertical-align: middle;
      }
    }
    .slick-dots {
      bottom: 10px;
      @include mq-pc() {
        bottom: 20px;
      }
      li {
        width: 6px;
        height: 6px;
        margin: 0 5px;
        @include mq-pc() {
          width: 13px;
          height: 13px;
          margin: 0 10px;
        }
        &.slick-active button:before {
          background-color: $color-primary;
        }
        button {
          width: 6px;
          height: 6px;
          padding: 0;
          font-size: 0;
          @include mq-pc() {
            width: 13px;
            height: 13px;
          }
          &:before {
            margin-top: 0;
            width: 6px;
            height: 6px;
            background-color: #fff;
            opacity: 1;
            @include mq-pc() {
              width: 13px;
              height: 13px;
            }
          }
        }
      }
    }
    .slick-prev {
      width: 35px;
      height: 35px;
      left: -6px;
      margin-left: 0;
      background-image: url(/common/img/icon/btn_slider_left_02_sp.png);
      background-size: 35px;
      top: 0;
      bottom: 0;
      margin: auto;
      @include mq-pc() {
        left: -10px;
        width: 48px;
        height: 48px;
        background-image: url(/common/img/icon/btn_slider_left_02_pc.png);
        background-size: 48px;
      }
    }
    .slick-next {
      width: 35px;
      height: 35px;
      right: -6px;
      margin-right: 0;
      background-image: url(/common/img/icon/btn_slider_right_02_sp.png);
      background-size: 35px;
      top: 0;
      bottom: 0;
      margin: auto;
      @include mq-pc() {
        right: -10px;
        width: 48px;
        height: 48px;
        background-image: url(/common/img/icon/btn_slider_right_02_pc.png);
        background-size: 48px;
      }
    }
  }
  .contact {
    @include mq-pc() {
      width: 52.5%;
      padding-left: 40px;
    }
    .title {
      position: relative;
      margin-bottom: 15px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: $color-primary;
      @include mq-pc() {
        width: 384px;
        margin: 0 auto 35px;
        font-size: 16px;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 28px;
        display: block;
        width: 48px;
        height: 2px;
        background-color: $color-primary;
        @include mq-pc() {
          width: 56px;
          top: 33px;
        }
      }
      &:before {
        left: 0;
        transform: rotate(45deg);
      }
      &:after {
        right: 0;
        transform: rotate(-45deg);
      }
    }
    .btn-wrap {
      text-align: center;
      margin: 0 -10px;
      @include mq-pc() {
        margin: 0 -22px;
      }
    }
    .btn {
      display: inline-block;
      vertical-align: top;
      width: 113px;
      height: 112px;
      margin: 0 22px;
      background-color: $color-primary;
      border-radius: 50%;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      line-height: 1.46;
      @include mq-pc() {
        width: 160px;
        height: 160px;
        font-size: 18px;
      }
    }
    .btn-inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      @include mq-pc() {
      }
      .text {
        display: block;
        margin-top: 10px;
        @include mq-pc() {
          margin-top: 20px;
        }
      }
    }
    .tel {
      margin-top: 20px;
      text-align: center;
      @include mq-pc() {
        margin-top: 45px;
      }
      a {
        font-size: 15px;
        font-weight: bold;
        color: $color-primary;
        @include mq-pc() {
          font-size: 22px;
        }
      }
    }
  }
  .aside {
    margin-top: 25px;
    border: 1px solid $color-primary;
    text-align: center;
    @include mq-pc() {
      display: flex;
      margin-top: 50px;
    }
    .item {
      border-top: 1px solid $color-primary;
      @include mq-pc() {
        display: flex;
        flex-direction: column;
        border: none;
        width: 50%;
      }
      &:first-child {
        border-top: none;
      }
      .inner {
        padding: 20px;
        border-top: 1px solid $color-primary;
        @include mq-pc() {
          flex: 1;
          padding: 30px 70px;
        }
        &:first-child {
          border-top: none;
        }
        &.rowspan {
          @include mq-pc() {
            flex: 2;
            border-right: 1px solid $color-primary;
          }
        }
      }
      .title {
        margin-bottom: 8px;
        color: $color-primary;
        font-size: 11px;
        @include mq-pc() {
          font-size: 18px;
        }
      }
      .title-sub {
        margin-bottom: 30px;
        font-size: 11px;
        font-weight: bold;
        @include mq-pc() {
          font-size: 18px;
        }
      }
      .text {
        font-size: 10px;
        @include mq-pc() {
          font-size: 14px;
        }
      }
    }
  }
}

.mod-shop-case {
  padding: 30px 0 40px;
  background-color: #f4fbf7;
  text-align: center;
  overflow: hidden;
  margin: 0 -10px;
  @include mq-pc() {
    margin: 0;
    padding: 65px 0 80px;
  }
  .inner {
    margin: 0 -10px;
    @include mq-pc() {
      margin: 0;
    }
  }
  .title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    color: $color-primary;
    @include mq-pc() {
      margin-bottom: 35px;
      font-size: 24px;
    }
  }
  .slide {
    @include mq-pc() {
    }
    .item {
      padding: 0 18px;
      @include mq-pc() {
        padding: 0 55px;
      }
      a {
        display: block;
        @include mq-pc() {
        }
      }
    }
    .slick-prev,
    .slick-next {
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .slick-prev {
      left: 40px;
      @include mq-pc() {
        right: 640px;
        left: 0;
      }
    }
    .slick-next {
      right: 40px;
      @include mq-pc() {
        right: 0;
        left: 640px;
      }
    }
  }
}

.mod-shop-news {
  margin: 0 -10px;
  padding: 30px 0 37px;
  background-color: #f8f8f8;
  @include mq-pc() {
    margin: 0;
    padding: 70px 0 55px;
  }
  &:nth-child(2n+1) {
    background-color: #fff;
    @include mq-pc() {
      padding: 0 0 70px;
      background-color: #f8f8f8;
    }
  }
  .inner {
    padding: 0 5px;
    @include mq-pc() {
      max-width: 1424px;
      padding: 0 112px;
      margin: auto;
    }
    & > .title {
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      @include mq-pc() {
        margin-bottom: 50px;
        font-size: 24px;
      }
    }
    & > .list {
      display: flex;
      flex-wrap: wrap;
      margin-top: -20px;
      margin-bottom: 20px;
      @include mq-pc() {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
      }
      .item {
        width: 50%;
        margin-top: 20px;
        padding: 0 5px;
        @include mq-pc() {
          width: auto;
          margin-top: 0;
          padding: 0 30px;
        }
        .fig {
          margin-bottom: 20px;
          @include mq-pc() {
            margin-bottom: 15px;
          }
        }
        a {
          position: relative;
          display: block;
        }
        &.is-new a:after {
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          width: 28px;
          height: 28px;
          background: url(/common/img/ico_new_01_pc.png) no-repeat 0 0;
          background-size: 28px;
          @include mq-pc() {
            width: 56px;
            height: 56px;
            background-size: contain;
          }
        }
        .title {
          margin-bottom: 12px;
          font-size: 12px;
          font-weight: bold;
          @include mq-pc() {
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
        .text {
          font-size: 10px;
          @include mq-pc() {
            font-size: 14px;
          }
        }
        .label {
          position: absolute;
          right: 0;
          top: 0;
          display: inline-block;
          padding: 0 11px;
          background-color: #11a14f;
          font-size: 10px;
          font-weight: bold;
          color: #fff;
          @include mq-pc() {
            padding: 1px 8px;
            font-size: 14px;
          }
        }
      }
      .slick-prev,
      .slick-prev {
        @include mq-pc() {
          margin-top: 110px;
        }
      }
      .slick-prev {
        @include mq-pc() {
          margin-left: -70px;
        }
      }
      .slick-next {
        @include mq-pc() {
          margin-right: -70px;
        }
      }
    }
  }
}

.mod-shop-info {
  margin: 0 -10px;
  @include mq-pc() {
    margin: 0;
    padding: 75px 0 60px;
  }
  .inner {
    @include mq-pc() {
      max-width: 1140px;
      margin: auto;
      overflow: hidden;
    }
    .info {
      @include mq-pc() {
        float: left;
        width: 52.7%;
      }
    }
    .table {
      width: 100%;
      border-top: 1px solid #ccc;
      font-size: 10px;
      @include mq-pc() {
      }
      th,
      td {
        padding: 12px 10px 12px 20px;
        border-bottom: 1px solid #ccc;
        vertical-align: top;
        line-height: 1.5;
        @include mq-pc() {
          padding: 14px 15px;
          font-size: 14px;
        }
      }
      th {
        width: 22%;
        background-color: #f4fbf7;
        font-weight: bold;
        @include mq-pc() {
          width: 25%;
        }
      }
      td {
        @include mq-pc() {
        }
        b {
          font-weight: bold;
        }
        a {
          color: $color-primary;
          text-decoration: underline;
        }
      }
    }
    .fb {
      margin-top: 8px;
      padding: 0 20px;
      text-align: center;
      @include mq-pc() {
        float: right;
        width: 43.9%;
        margin-top: 0;
        padding: 0;
      }
      iframe {
        border: none;
        @include mq-pc() {
        }
      }
    }
  }
}
